.caption-container{
    background: #F4F8FC;
    .caption-wrap{
        justify-content: space-between;
        align-items: flex-end;
        padding: 1em 0;
    }
    .caption{
        span{
            font-size: 1em;
        }
    }

}