.caption-container{
    background: #F4F8FC;
    .caption-wrap{
        align-items: flex-end;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .caption{
        span{
            font-size: 1em;
        }
    }
}