*{
    box-sizing:border-box;
    margin: 0;
}
a{
    text-decoration: none;
    color: #221E1E;
}
html{
    font-size: 20px;
}

button{
    background: transparent;
    outline: none;
    border: none;
}
input{
    outline: none;
}

body{
    font-family: 'HelveticaNeue', serif;
    font-weight: 400;
    font-size: calc(.6rem + .586vw);
    line-height: 1.15;
    color: #221E1E;
}
