.news-info-container{
    .date, .time, .counter{
        line-height: 0;
    }
    .date-wr{
        margin-right: .1em;
        width: 4.35em;
        justify-content: flex-start;
    }
    .date{
        margin-right: .5em;
    }
    svg{
        margin-right: .3em;
    }
}