.social-news{
    display: flex;
    width: 5em;
    height: 1.4em;
    ul{
        width: 100%;
    }
    a{
        display: block;
        circle{
            fill: #9ba6b2;
            transition: .3s;
        }
        &:hover{
            circle{
                fill: #0024DE;
            }
            
        }
    }
    svg{
        width: auto;
        height: 100%;
        display: block;
    }
}