.subscribe{
    margin-top: 6em;
    margin-bottom: 2em;
    .btn-container{
        width: 12em;
    }
    .input-group{
        max-width: 39em;
        width: 100%;
        margin-right: 1em;
        input{
            width: 100%;
            padding: 1.2em 0;
            border: none;
            border-bottom: 1px solid #707070;
        }
    }
}