
<div class="about-ecro">
    <div class="container">
        <div class="risk"></div>
        <div class="caption">
            <p class="font-30b">В какие направления инвестирует платформа ECRO System?</p>
        </div>
        <div class="description">
            <p class="font-13th">Мы ищем и инвестируем в проекты из самых высокотехнологичных областей, чтобы вы получали максимум возможностей в экосистеме ECRO System!</p>
        </div>
        <div class="about-ecro-list flex">
            <div class="investment-item">
                <div class="item-title">
                    <span class="font-18b">Строительство</span>
                </div>
                <div class="item-description">
                    <p class="font-13th">Команда ECRO System сотрудничает с застройщиками жилых домов в Азии и странах Евросоюза</p>
                </div>
                <a href="#" class="blue-lnk-style white">
                    <span class="font-11b">Узнать больше</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="7.071" height="11.314" viewBox="0 0 7.071 11.314">
                        <rect class="a" width="2" height="8" transform="translate(1.414 11.314) rotate(-135)" />
                        <rect class="a" width="2" height="8" transform="translate(0 1.414) rotate(-45)" />
                    </svg>
                </a>
            </div>
            <div class="investment-item">
                <div class="item-title">
                    <span class="font-18b">Блокчейн и ИИ</span>
                </div>
                <div class="item-description">
                    <p class="font-13th">Команда ECRO System инвестирует в высокодоходные блокчейн и IT-проекты</p>
                </div>
                <a href="#" class="blue-lnk-style white">
                    <span class="font-11b">Узнать больше</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="7.071" height="11.314" viewBox="0 0 7.071 11.314">
                        <rect class="a" width="2" height="8" transform="translate(1.414 11.314) rotate(-135)" />
                        <rect class="a" width="2" height="8" transform="translate(0 1.414) rotate(-45)" />
                    </svg>
                </a>
            </div>
            <div class="investment-item">
                <div class="item-title">
                    <span class="font-18b">Бизнес и стартапы</span>
                </div>
                <div class="item-description">
                    <p class="font-13th">Команда ECRO System ищет проекты с большим потенциалом развития</p>
                </div>
                <a href="#" class="blue-lnk-style white">
                    <span class="font-11b">Узнать больше</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="7.071" height="11.314" viewBox="0 0 7.071 11.314">
                        <rect class="a" width="2" height="8" transform="translate(1.414 11.314) rotate(-135)" />
                        <rect class="a" width="2" height="8" transform="translate(0 1.414) rotate(-45)" />
                    </svg>
                </a>
            </div>
            <div class="investment-item">
                <div class="item-title">
                    <span class="font-18b">Экология</span>
                </div>
                <div class="item-description">
                    <p class="font-13th">Команда ECRO System привлекает проекты из области альтернативной энергетики для улучшения экологии</p>
                </div>
                <a href="#" class="blue-lnk-style white">
                    <span class="font-11b">Узнать больше</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="7.071" height="11.314" viewBox="0 0 7.071 11.314">
                        <rect class="a" width="2" height="8" transform="translate(1.414 11.314) rotate(-135)" />
                        <rect class="a" width="2" height="8" transform="translate(0 1.414) rotate(-45)" />
                    </svg>
                </a>
            </div>
        </div>
        
    </div>
</div>