<section class="academy-2 fade-block">
    <div class="container">
        <div class="flex">
            <div class="left-part">
                <div class="title">
                    <p class="font-18r violet">Название блока о котором идет речь</p>
                </div>
                <div class="caption">
                    <h2 class="font-36b white">Функционал платформы</h2>
                </div>
                <div class="description">
                    <p class="font-18r gray-2">Функционал платформы, с помощью которого ты приобретешь новые навыки и реализуешь свои цели</p>
                </div>
                <button class="button establish">
                    <span class="font-14b">Бесплатно установить приложение</span>
                </button>
            </div>
            <div class="right-part">
                <div class="large-img">
                    <img src="img/pics/academy-img6.png" alt="">
                </div>
                <div class="large-container">
                    <div class="main-img">
                        <img src="img/pics/academy-img5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>