<section class="academy-comunity">
    <div class="inscription-wrap">
        <p class="inscription">Лидеры</p>
    </div>
    <div class="constructor">
        <div class="container">
            <div class="flex">
            <div class="left-part">
            <div class="caption">
                <h2 class="font-36b white">Общение в сообществе <br>с лидерами для самосовершенствования</h2>
            </div>
            <div class="description">
                <p class="font-16r gray-2">Академия ECRO предоставляет участникам возможность попасть в среду мотивированных и целеустремленных лидеров проекта и напрямую общаться с людьми, развивающими проект ECRO System по всему миру, получая самую актуальную информацию о тенденциях рынка!
                </p>
            </div>
            <button class="button establish">
                <span class="font-14b">Установить мобильное приложение</span>
            </button>
        </div>
        <div class="right-part">
            <div class="img-wr">
                <img src="img/pics/academy-comunity.png" alt="">
            </div>
        </div>
        </div>
    </div>
    </div>
</section>