<section class="academy-1">
    <div class="container">
        <div class="flex">
            <div class="left-part">
                <div class="title">
                    <p class="font-18r violet">Название блока о котором идет речь</p>
                </div>
                <div class="caption">
                    <h2 class="font-36b white">ECRO Академия</h2>
                </div>
                <div class="description">
                    <p class="font-18r gray-2">Удобный инструмент для обучения пользователей, партнеров и сотрудников компании и получения необходимых знаний и опыта в сфере цифровых продуктов и технологии блокчейн.</p>
                </div>
            </div>
            <div class="right-part">
                <div class="large-img">
                    <img src="img/pics/academy-img1.png" alt="">
                </div>
                <div class="large-container">
                    <div class="main-img">
                        <img src="img/pics/academy-img2.png" alt="">
                    </div>
                    <div class="small-img">
                        <img src="img/pics/academy-img3.png" alt="">
                        <img src="img/pics/academy-img4.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>