<section class="platform fade-block">
    <div class="content-main container">
        <div class="content">
            <div class="txt-part">
                <div class="question">
                    <p class="font-18r">Название блока о котором идет речь</p>
                </div>
                <div class="title">
                    <h2 class="font-36b">Преимущества EDC Blockchain </h2>
                </div>
                <div class="text">
                    <p class="font-18r">Наши блокчейн-сервисы — самый прямой и быстрый путь к <br> вашему успеху в новом цифровом мире!
                    </p>
                </div>
            </div>
            <div class="item-wr">
                <div class="item">
                    <div class="pic">
                        <img src="img/pics/platf1.svg" alt="">
                    </div>
                    <div class="txt">
                        <div class="title">
                            <h4 class="font-18r">Стабильные бонусы</h4>
                        </div>
                        <div class="text">
                            <p class="font-16r">Лизинговая программа EDC Blockchain позволяет получать ежедневные бонусы на ваш многофункциональный кошелек.
                            </p>
                        </div>
                        <div class="link">
                            <a href="#"><span class="font-16r">Скачать кошелёк</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="5" height="8" viewBox="0 0 5 8">
                                    <g>
                                        <g>
                                            <path fill="#166dd5"
                                                d="M4.831 4.436a.589.589 0 0 0 .17-.425.587.587 0 0 0-.17-.426l-3.3-3.4a.554.554 0 0 0-.41-.175.558.558 0 0 0-.414.175L.174.76a.59.59 0 0 0-.17.425.59.59 0 0 0 .17.426l2.328 2.4L.174 6.41a.593.593 0 0 0-.17.426c0 .166.057.308.17.425l.533.574a.554.554 0 0 0 .413.175.55.55 0 0 0 .412-.175z" />
                                        </g>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="pic">
                        <img src="img/pics/platf2.svg" alt="">
                    </div>
                    <div class="txt">
                        <div class="title">
                            <h4 class="font-18r">Встроенный конструктор монет</h4>
                        </div>
                        <div class="text">
                            <p class="font-16r">Блокчейн конструктор монет позволяет создавать собственные активы для развития бизнеса — от токенов до премиальных монет с множеством настроек.
                            </p>
                        </div>
                        <div class="link">
                            <a href="#"><span class="font-16r">Скачать кошелёк</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="5" height="8" viewBox="0 0 5 8">
                                    <g>
                                        <g>
                                            <path fill="#166dd5"
                                                d="M4.831 4.436a.589.589 0 0 0 .17-.425.587.587 0 0 0-.17-.426l-3.3-3.4a.554.554 0 0 0-.41-.175.558.558 0 0 0-.414.175L.174.76a.59.59 0 0 0-.17.425.59.59 0 0 0 .17.426l2.328 2.4L.174 6.41a.593.593 0 0 0-.17.426c0 .166.057.308.17.425l.533.574a.554.554 0 0 0 .413.175.55.55 0 0 0 .412-.175z" />
                                        </g>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="pic">
                        <img src="img/pics/platf3.svg" alt="">
                    </div>
                    <div class="txt">
                        <div class="title">
                            <h4 class="font-18r">Возможность листинга ваших
                                активов</h4>
                        </div>
                        <div class="text">
                            <p class="font-16r">Компания предоставляет возможность листинга ваших активов, созданных при помощи конструктора монет, на партнерских биржах платформы.
                            </p>
                        </div>
                        <div class="link">
                            <a href="#"><span class="font-16r">Скачать кошелёк</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="5" height="8" viewBox="0 0 5 8">
                                    <g>
                                        <g>
                                            <path fill="#166dd5"
                                                d="M4.831 4.436a.589.589 0 0 0 .17-.425.587.587 0 0 0-.17-.426l-3.3-3.4a.554.554 0 0 0-.41-.175.558.558 0 0 0-.414.175L.174.76a.59.59 0 0 0-.17.425.59.59 0 0 0 .17.426l2.328 2.4L.174 6.41a.593.593 0 0 0-.17.426c0 .166.057.308.17.425l.533.574a.554.554 0 0 0 .413.175.55.55 0 0 0 .412-.175z" />
                                        </g>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="pic">
                        <img src="img/pics/platf4.svg" alt="">
                    </div>
                    <div class="txt">
                        <div class="title">
                            <h4 class="font-18r">Усовершенствованный
                                функционал переводов
                                </h4>
                        </div>
                        <div class="text">
                            <p class="font-16r">Анонимные транзакции и функции “код-пакет” и “красный конверт” позволяют проводить рекламные и маркетинговые акции и расширять вашу целевую аудиторию. 
                            </p>
                        </div>
                        <div class="link">
                            <a href="#"><span class="font-16r">Скачать кошелёк</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="5" height="8" viewBox="0 0 5 8">
                                    <g>
                                        <g>
                                            <path fill="#166dd5"
                                                d="M4.831 4.436a.589.589 0 0 0 .17-.425.587.587 0 0 0-.17-.426l-3.3-3.4a.554.554 0 0 0-.41-.175.558.558 0 0 0-.414.175L.174.76a.59.59 0 0 0-.17.425.59.59 0 0 0 .17.426l2.328 2.4L.174 6.41a.593.593 0 0 0-.17.426c0 .166.057.308.17.425l.533.574a.554.554 0 0 0 .413.175.55.55 0 0 0 .412-.175z" />
                                        </g>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="pic">
                        <img src="img/pics/platf5.svg" alt="">
                    </div>
                    <div class="txt">
                        <div class="title">
                            <h4 class="font-18r">Маркетплейс ECRO</h4>
                        </div>
                        <div class="text">
                            <p class="font-16r">ECRO расширяет возможности держателей бонусных монет EDC и открывает продавцам доступ к глобальному рынку сбыта товаров и услуг.
                            </p>
                        </div>
                        <div class="link">
                            <a href="#"><span class="font-16r">Скачать кошелёк</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="5" height="8" viewBox="0 0 5 8">
                                    <g>
                                        <g>
                                            <path fill="#166dd5"
                                                d="M4.831 4.436a.589.589 0 0 0 .17-.425.587.587 0 0 0-.17-.426l-3.3-3.4a.554.554 0 0 0-.41-.175.558.558 0 0 0-.414.175L.174.76a.59.59 0 0 0-.17.425.59.59 0 0 0 .17.426l2.328 2.4L.174 6.41a.593.593 0 0 0-.17.426c0 .166.057.308.17.425l.533.574a.554.554 0 0 0 .413.175.55.55 0 0 0 .412-.175z" />
                                        </g>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="pic">
                        <img src="img/pics/platf6.svg" alt="">
                    </div>
                    <div class="txt">
                        <div class="title">
                            <h4 class="font-18r">Глобальное сообщество
                                более 1 млн
                                </h4>
                        </div>
                        <div class="text">
                            <p class="font-16r">Сообщество EDC Blockchain активно развивается по всему миру и насчитывает более 1.2 млн зарегистрированных аккаунтов в 57 странах мира.</p>
                        </div>
                        <div class="link">
                            <a href="#"><span class="font-16r">Скачать кошелёк</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="5" height="8" viewBox="0 0 5 8">
                                    <g>
                                        <g>
                                            <path fill="#166dd5"
                                                d="M4.831 4.436a.589.589 0 0 0 .17-.425.587.587 0 0 0-.17-.426l-3.3-3.4a.554.554 0 0 0-.41-.175.558.558 0 0 0-.414.175L.174.76a.59.59 0 0 0-.17.425.59.59 0 0 0 .17.426l2.328 2.4L.174 6.41a.593.593 0 0 0-.17.426c0 .166.057.308.17.425l.533.574a.554.554 0 0 0 .413.175.55.55 0 0 0 .412-.175z" />
                                        </g>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>