<section class="advantages fade-block">
    <div class="container-main container">
        <div class="item-wr">
            <div class="item">
                <div class="pic">
                    <img src="img/pics/advant1.svg" alt="">
                </div>
                <div class="title">
                    <span class="font-18b">Работает на рынке с 2016 года</span>
                </div>
                <div class="text">
                    <p class="font-15r">Компания стабильно развивается на рынке блокчейн-платформ с 2016 года. За это время мы открыли представительства проекта в Китае, Латинской Америке и Турции!</p>
                </div>
            </div>
            <div class="item select">
                <div class="pic">
                    <img src="img/pics/advant2.svg" alt="">
                </div>
                <div class="title">
                    <span class="font-18b">Монета EDC популярна в<br>57 странах мира</span>
                </div>
                <div class="text">
                    <p class="font-15r">Усовершенствованный функционал переводов позволяет проводить программы лояльности для ваших клиентов. Лизинговая программа — получать ежедневные бонусы, а конструктор монет — создавать собственные цифровые активы!
                    </p>
                </div>
            </div>
            <div class="item">
                <div class="pic">
                    <img src="img/pics/advant3.svg" alt="">
                </div>
                <div class="title">
                    <span class="font-18b">Более 1 000 000 зарегистрированных аккаунтов</span>
                </div>
                <div class="text">
                    <p class="font-15r">Передовые блокчейн-инструменты платформы уже используют более 1 млн предпринимателей и пользователей со всего мира! EDC Blockchain — один из лидеров рынка по предоставлению инструментов для токенизации малого и среднего бизнеса!</p>
                </div>
            </div>
            
        </div>
    </div>
</section>