<section class="another-home-fs">
    <div class="background-phone"></div>
    <div class="background-ellipse"></div>
    <div class="header">
        <div class="flex container">
            <div class="logo flex">
            <a href="/">
                <img src="img/pics/eps2.svg" alt="">
            </a>
            <span class="font-24r gray-2 slash">/</span>
            <button class="scroll-trigger">
                <img src="img/pics/ecroacademy.svg" alt="">
            </button>
            
        </div>
        <div class="wallet flex">
            <p class="font-13r gray-2">Криптокошелёк с встроенным конструктором монет</p>
            <div class="button-wr">
               <button class="button castom-button">
                <span class="font-13b white">Регистрация</span>
               </button> 
            </div>
            
        </div>
        <div class="language">
            <div class="links-wr">
                <div class="link-item dropdown-group">
                    <button class="drop-trigger grey-lnk-style lang-trigger">
                        <span class="font-13r gray-2">Рус</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="9.899" height="5.657" viewBox="0 0 9.899 5.657">
                            <g transform="translate(-971.55 -28.793)">
                                <rect class="rect-gray" width="1" height="7" rx="0.5" transform="translate(971.55 29.5) rotate(-45)" />
                                <rect class="a rect-gray" width="1" height="7" rx="0.5"
                                    transform="translate(980.743 28.793) rotate(45)" />
                            </g>
                        </svg>
                    </button>
                    <div class="hover-container">
                        <div class="drop-container">
                            <ul class="drop-list list-default">
                                <li class="drop-item">
                                    <a href="#" class="font-13r">Рус</a>
                                </li>
                                <li class="drop-item">
                                    <a href="#" class="font-13r">Eng</a>
                                </li>
                                <li class="drop-item">
                                    <a href="#" class="font-13r">Esp</a>
                                </li>
                                <li class="drop-item">
                                    <a href="#" class="font-13r">Tur</a>
                                </li>
                                <li class="drop-item">
                                    <a href="#" class="font-13r">中國人</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        
    </div>
    <div class="container">
        <div class="content">
            <div class="caption">
                <h2 class="font-48b white">Заголовок с самым <br>топ предложением</h2>
            </div>
            <div class="description">
                <p class="font-16r gray-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br> sed do eiusmod tempor incididunt ut labore et dolore<br> magna aliqua.</p>
            </div>
            <button class="button establish">
                <span class="font-14b">Бесплатно установить приложение</span>
            </button>
        </div>
    </div>
    
</section>