<section class="anothe-home-transfer">
    <div class="container">
        <div class="title">
            <p class="font-18r color center">Название блока о котором идет речь</p>
        </div>
        <div class="caption">
            <h2 class="font-36b white center">Гарантия получения результата</h2>
        </div>
        <div class="description">
            <p class="font-18r gray-2 center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        
        <div class="transfer-list flex">
            <div class="transfer-item">
                <div class="item-image">
                    <img src="img/pics/safe.svg" alt="">
                </div>
                <div class="item-caption">
                    <h3 class="font-18b white">Продуманная система обучения</h3>
                </div>
                <div class="item-description">
                    <p class="font-16r gray-2">— функция, гарантирующая дополнительную безопасность вашей транзакции. При создании пользователь генерирует секретный код. Только обладатель этого кода будет иметь возможность разблокировать данный пакет и получить средства.</p>
                </div>
                <button class="custom-button">
                    <span class="font-14b color">Установить мобильное приложение</span>
                </button>
            </div>
            <div class="transfer-item">
                <div class="item-image">
                    <img src="img/pics/china.svg" alt="">
                </div>
                <div class="item-caption">
                    <h3 class="font-18b white">Обучающие семинары</h3>
                </div>
                <div class="item-description">
                    <p class="font-16r gray-2">— расширенная версия код-пакета, в которой средства могут быть распределены между несколькими участниками. Эта функция удобна для совершения бонусных начислений в программах лояльности.</p>
                </div>
                <button class="custom-button">
                    <span class="font-14b color">Установить мобильное приложение</span>
                </button>
            </div>
            <div class="transfer-item">
                <div class="item-image">
                    <img src="img/pics/hacker2.svg" alt="">
                </div>
                <div class="item-caption">
                    <h3 class="font-18b white">Преподаватели индустрии Блокчейн</h3>
                </div>
                <div class="item-description">
                    <p class="font-16r gray-2">— платежи, при которых отправитель средств не может быть идентифицирован. Используется пользователями, для которых крайне важна анонимность в транзакциях.</p>
                </div>
                <button class="custom-button">
                    <span class="font-14b color">Установить мобильное приложение</span>
                </button>
            </div>
        </div>
    </div>
</section>