<section class="another-home-skills">
    <div class="container">
        <div class="title">
            <p class="font-18r center">Название блока о котором идет речь</p>
        </div>
        <div class="caption">
            <h2 class="font-36b white center">Приобретение новых навыков и компетенций</h2>
        </div>
        <div class="description">
            <p class="font-18r gray-2 center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="skills-list flex">
            <div class="skills-item">
                <div class="item-caption">
                    <h3 class="font-18b white">Обучение в ECRO</h3>
                </div>
                <div class="item-description">
                    <p class="font-16r gray-2">Обучение в Академии ECRO поможет участникам и партнерам проекта получить новые навыки и компетенции, необходимые для успешного развития и самореализации в таких областях, как блокчейн, искусственный интеллект и цифровые технологии.</p>
                </div>
            </div>
            <div class="skills-item">
                <div class="item-caption">
                    <h3 class="font-18b white">Знания</h3>
                </div>
                <div class="item-description">
                    <p class="font-16r gray-2">Знания, полученные в ходе обучения на платформе, помогут пользователям всесторонне развиваться в новой цифровой среде и использовать все преимущества технологии блокчейн в своей повседневной жизни.</p>
                </div>
            </div>
            <div class="skills-item">
                <div class="item-caption">
                    <h3 class="font-18b white">Анонимные платежи</h3>
                </div>
                <div class="item-description">
                    <p class="font-16r gray-2">— платежи, при которых отправитель средств не может быть идентифицирован. Используется пользователями, для которых крайне важна анонимность в транзакциях.</p>
                </div>
            </div>
        </div>
    </div>
</section>