<section class="blockchain-technology fade-block">

    <div class="container">
        <div class="title">
            <p class="font-18r blue-3">Название блока о котором идет речь</p>
        </div>
        <div class="caption">
            <h2 class="font-36b white">Технологии EDC Blockchain</h2>
        </div>  
        <div class="description">
            <p class="font-18r gray-2">
                EDC Blockchain использует модифицированную технологию Graphene. Это позволяет проводить в сети до 100 000 транзакций в секунду, а время генерации нового блока составляет всего 2.5 секунды!</p>
            <p class="font-18r gray-2">
                Платформа работает на алгоритме LPoS. Благодаря этому, пользователи могут сдавать свои бонусные монеты EDC в лизинг мастерноде и получать за это ежедневные вознаграждения!
            </p>
        </div>
        <button class="button establish">
            <span class="font-14b">Бесплатно установить кошелёк</span>
        </button>
    </div>
    
</section>