<section class="blockchain-comunity">
    <div class="container">
        <div class="title">
            <p class="font-18r blue-3 center">Название блока о котором идет речь</p>
        </div>
        <div class="caption">
            <h2 class="font-36b white center">Сообщество EDC Blockchain</h2>
        </div>
        <div class="description">
            <p class="font-18r gray-2 center">Платформа EDC Blockchain охватывает крупнейшие рынки <br>мира, включая страны Латинской Америки, Юго-Восточной Азии, Европы и СНГ.</p>
        </div>
        <div class="community-list flex">
            <div class="community-item">
                <div class="item-image">
                    <img src="img/pics/dollar.svg" alt="worldwide">
                </div>
                <div class="item-caption">
                    <h3 class="font-18b white">Участники</h3>
                </div>
                <div class="item-description">
                    <p class="font-16r gray-2">Сообщество EDC Blockchain состоит из предпринимателей и целеустремленных и энергичных людей, желающих развиваться в сфере новейших технологий!</p>
                </div>
            </div>
            <div class="community-item">
                <div class="item-image">
                    <img src="img/pics/worldwide.svg" alt="worldwide">
                </div>
                <div class="item-caption">
                    <h3 class="font-18b white">География</h3>
                </div>
                <div class="item-description">
                    <p class="font-16r gray-2">Наши инновационные сервисы используют пользователи из Юго-Восточной Азии, включая Китай, Европы, Африки и Латинской Америки!</p>
                </div>
            </div>
            <div class="community-item">
                <div class="item-image">
                    <img src="img/pics/people.svg" alt="worldwide">
                </div>
                <div class="item-caption">
                    <h3 class="font-18b white">Масштаб</h3>
                </div>
                <div class="item-description">
                    <p class="font-16r gray-2">Сообщество EDC активно расширяется и насчитывает более 1.2 млн зарегистрированных аккаунтов в 57 странах мира!</p>
                </div>
            </div>
        </div>
    </div>
</section>