<section class="blockchain-about-ecro">
    <div class="container">
        <div class="caption">
            <h2 class="font-36b white center">Что такое ECRO System</h2>
        </div>
        <div class="description">
            <p class="font-18r gray-2 center">Посмотрите короткий ролик о возможностях и продуктах нашей экосистемы!</p>
        </div>
        <div class="video">
            <div class="video-inner">
               <iframe src=""></iframe> 
            </div>
            
        </div>
    </div>
</section>