<section class="blockchain-transfer fade-block">
    
    <div class="container">
        <div class="caption">
            <h2 class="font-36b white center">Усовершенствованные функции переводов</h2>
        </div>
        <div class="description">
            <p class="font-18r gray-2 center">Платформа EDC Blockchain предоставляет пользователям расширенный функционал для проведения транзакций.</p>
        </div>
        <div class="title">
            <p class="font-18r blue-3 center">Название блока о котором идет речь</p>
        </div>
        <div class="transfer-list flex">
            <div class="transfer-item">
                <div class="item-image">
                    <img src="img/pics/safe.svg" alt="">
                </div>
                <div class="item-caption">
                    <h3 class="font-18b white">Код-пакет</h3>
                </div>
                <div class="item-description">
                    <p class="font-16r gray-2">Дополнительный уровень защиты для ваших переводов — при создании “код-пакета” вы генерируете секретный код. Только обладатель кода сможет воспользоваться вашими средствами.</p>
                </div>
            </div>
            <div class="transfer-item">
                <div class="item-image">
                    <img src="img/pics/china.svg" alt="">
                </div>
                <div class="item-caption">
                    <h3 class="font-18b white">Красный конверт</h3>
                </div>
                <div class="item-description">
                    <p class="font-16r gray-2">Расширенная версия “код-пакета” — средства из красного конверта могут быть распределены между несколькими получателями. Эта функция отлично подходит для проведения акций лояльности, маркетинговых и скидочных программ для ваших клиентов.</p>
                </div>
            </div>
            <div class="transfer-item">
                <div class="item-image">
                    <img src="img/pics/hacker2.svg" alt="">
                </div>
                <div class="item-caption">
                    <h3 class="font-18b white">Анонимные транзакции</h3>
                </div>
                <div class="item-description">
                    <p class="font-16r gray-2">Полностью анонимные переводы, отправитель которых не может быть определен. Инструмент, который позволяет вам всегда оставаться анонимным, когда это действительно необходимо!</p>
                </div>
            </div>
        </div>
    </div>
</section>