<section class="blockchain-constructor">
    <div class="inscription-wrap">
        <p class="inscription">Конструктор монет</p>
    </div>
    <div class="constructor">
        <div class="container">
            <div class="title">
                <p class="font-18r blue-3">Название блока о котором идет речь</p>
            </div>
            <div class="caption">
                <h2 class="font-36b white">Блокчейн-конструктор монет EDC Blockchain</h2>
            </div>
            <div class="description">
                <p class="font-18r gray-2">Платформа предлагает универсальные пакетные решения для создания собственных цифровых активов. Вы можете создавать простые токены для небольшого оборота и премиальные монеты со множеством настраиваемых параметров и возможностью майнинга на алгоритме PoS.</p>
                <p class="font-18r gray-2">Для повышения ликвидности активов платформа предлагает листинг ваших цифровых активах на крупнейших биржах — партнерах EDC Blockchain.</p>
            </div>
            <button class="button establish">
                <span class="font-14b">Бесплатно установить кошелёк</span>
            </button>
        </div>
    </div>
</section>