<section class="blockchain">
    <div class="header flex container">
        <div class="logo flex">
            <a href="#">
                <img src="img/pics/eps.svg" alt="">
            </a>
            <span class="font-24b gray-2 slash">/</span>
            <button>
                <img src="img/pics/eds-logo.svg" alt="">
            </button>
            
        </div>
        <div class="wallet flex">
            <p class="font-13r gray-2">Криптокошелёк с встроенным конструктором монет</p>
            <button class="button castom-button">
                <span class="font-13b white">Скачать кошелёк</span>
            </button>
        </div>
        <div class="language">
            <div class="links-wr">
                <div class="link-item dropdown-group mobile-hide">
                    <button class="drop-trigger grey-lnk-style lang-trigger">
                        <span class="font-13r gray-2">Рус</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="9.899" height="5.657" viewBox="0 0 9.899 5.657">
                            <g transform="translate(-971.55 -28.793)">
                                <rect class="rect-gray" width="1" height="7" rx="0.5" transform="translate(971.55 29.5) rotate(-45)" />
                                <rect class="a rect-gray" width="1" height="7" rx="0.5"
                                    transform="translate(980.743 28.793) rotate(45)" />
                            </g>
                        </svg>
                    </button>
                    <div class="hover-container">
                        <div class="drop-container">
                            <ul class="drop-list list-default">
                                <li class="drop-item">
                                    <a href="#" class="font-13r">Рус</a>
                                </li>
                                <li class="drop-item">
                                    <a href="#" class="font-13r">Eng</a>
                                </li>
                                <li class="drop-item">
                                    <a href="#" class="font-13r">Esp</a>
                                </li>
                                <li class="drop-item">
                                    <a href="#" class="font-13r">Tur</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="content">
            <div class="caption">
                <h2 class="font-48b white">Блокчейн-сервисы для вас и вашего бизнеса!</h2>
            </div>
            <div class="description">
                <p class="font-16r gray-2">ECRO System — это инновационные блокчейн-сервисы для токенизации бизнеса, получения вознаграждений, расширения целевой аудитории и развития в сфере блокчейн!</p>
            </div>
            <button class="button establish">
                <span class="font-14b">Бесплатно установить кошелёк</span>
            </button>
        </div>
    </div>
    
</section>