<div class="caption-container">
    <div class="container caption-wrap flex">
        <div class="caption">
            <span>@@caption</span>
        </div>
        <div class="rightPart">
            <button class="@@rightClass"><span class="@@txtStyle">@@rightPart</span></button>
            <div class="news-search-container">
                <form class="input-group">
                    <input type="text" placeholder="Search News" name="news" class="font-13r">
                    <button type="button" class="news-cancel-btn close"></button>
                </form>
            </div>
        </div>
    </div>
</div>