<div class="events-final">
    <div class="events-final-fs">
        <div class="bg">
            <img src="img/pics/event-fs.png" alt="">
        </div>
    </div>
    <div class="event-content container flex">
        <div class="left-block">
            <div class="params flex">
                <div class="location">
                    <svg id="Group_64" data-name="Group 64" xmlns="http://www.w3.org/2000/svg" width="8.692" height="12"
                        viewBox="0 0 8.692 12">
                        <path id="Path_21" data-name="Path 21"
                            d="M74.919,0a4.351,4.351,0,0,0-4.346,4.346c0,2.974,3.889,7.34,4.055,7.524a.391.391,0,0,0,.582,0c.166-.184,4.055-4.55,4.055-7.524A4.351,4.351,0,0,0,74.919,0Zm0,6.532a2.187,2.187,0,1,1,2.187-2.187A2.189,2.189,0,0,1,74.919,6.532Z"
                            transform="translate(-70.573)" fill="#9ba6b2" />
                    </svg>
                    <span class="font-13b">Singapur</span>
                </div>
                <div class="date">
                    <span class="font-13b">18 oct 2019</span>
                </div>
            </div>
        
        <div class="title">
            <h1 class="font-30b">Блокчейн конференция ECROsystems</h1>
        </div>
        @@include('../components/_social.html')
        <div class="content">
            <p class="font-13r">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum.</p>
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/i02YyP4ujPg" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <p class="font-13r">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum.</p>
        </div>
        <div class="speakers">
            <div class="title">
                <span class="font-20b">Спикеры</span>
            </div>
            <div class="speakers-items flex">
                <div class="speakers-item">
                    <div class="img-container" style="background-image: url(img/pics/speaker1.png);"></div>

                    <div class="profession">
                        <span class="font-13r">CEO Blockchain.vn</span>
                    </div>
                    <div class="name">
                        <span class="font-15b">Ирпень Кокер</span>
                    </div>
                    <div class="about-speaker">
                        <p class="font-13r" style="-webkit-box-orient: vertical;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="speakers-item">
                    <div class="img-container" style="background-image: url(img/pics/speaker2.png);"></div>

                    <div class="profession">
                        <span class="font-13r">CEO Blockchain.vn</span>
                    </div>
                    <div class="name">
                        <span class="font-15b">Ирпень Кокер</span>
                    </div>
                    <div class="about-speaker">
                        <p class="font-13r" style="-webkit-box-orient: vertical;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="speakers-item">
                    <div class="img-container" style="background-image: url(img/pics/speaker3.png);"></div>

                    <div class="profession">
                        <span class="font-13r">CEO Blockchain.vn</span>
                    </div>
                    <div class="name">
                        <span class="font-15b">Ирпень Кокер</span>
                    </div>
                    <div class="about-speaker">
                        <p class="font-13r" style="-webkit-box-orient: vertical;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-txt">
            <p class="font-13r">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum.</p>
                <div class="button-wr">
                   <button class="button">
                    <span class="font-18b">Подать заявку на участие</span>
                </button> 
                </div>
                
        </div>
    </div>
        <div class="right-block">

        </div>
    </div>
</div>