<div class="events">
    <div class="container">
        @@include('./_event-item.html', {
            "caption": "Блокчейн конференция ECROsystems",
            "location": "Singapur",
            "date": "18 oct 2019",
            "description_1": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
            "description_2": "Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
            "link": "/events-final.html",
            "img": "img/pics/event-1.jpg"
        })
        @@include('./_event-item.html', {
            "caption": "ECROsystems блокчейн конференция",
            "location": "Singapur",
            "date": "18 oct 2019",
            "description_1": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
            "description_2": "Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
            "link": "/events-final.html",
            "img": "img/pics/event-3.jpg"
        })
        @@include('./_event-item.html', {
            "caption": "Блокчейн конференция ECROsystems",
            "location": "Singapur",
            "date": "18 oct 2019",
            "description_1": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
            "description_2": "Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
            "link": "/events-final.html",
            "img": "img/pics/event-2.jpg"
        })
    </div>
</div>