<div class="row event-item flex">
    <div class="half-col img-col">
        <img src=@@img alt="img" />
    </div>
    <div class="half-col txt-col">
        <div class="caption">
            <p class="font-18b">@@caption</p>
        </div>
        <div class="params flex">
            <div class="location">
                <svg id="Group_64" data-name="Group 64" xmlns="http://www.w3.org/2000/svg" width="8.692" height="12" viewBox="0 0 8.692 12">
                    <path id="Path_21" data-name="Path 21" d="M74.919,0a4.351,4.351,0,0,0-4.346,4.346c0,2.974,3.889,7.34,4.055,7.524a.391.391,0,0,0,.582,0c.166-.184,4.055-4.55,4.055-7.524A4.351,4.351,0,0,0,74.919,0Zm0,6.532a2.187,2.187,0,1,1,2.187-2.187A2.189,2.189,0,0,1,74.919,6.532Z" transform="translate(-70.573)" fill="#9ba6b2"/>
                </svg>
                <span class="font-13b">@@location</span>
            </div>
            <div class="date">
                <span class="font-13b">@@date</span>
            </div>
        </div>
        <div class="description">
            <div class="font-13r grey">
                <p>@@description_1</p>
                <p>@@description_2</p>
            </div>
            
        </div>
        <div class="link-wrap">
            <a href=@@link class="blue-lnk-style descr-lnk flex font-11r">Узнать больше
                <svg xmlns="http://www.w3.org/2000/svg" width="7.071" height="11.314" viewBox="0 0 7.071 11.314">
                    <rect class="a" width="2" height="8" transform="translate(1.414 11.314) rotate(-135)" />
                    <rect class="a" width="2" height="8" transform="translate(0 1.414) rotate(-45)" />
                </svg>
            </a>
        </div>
        <div class="info-wr flex">
            @@include('./_social.html')
        </div>
    </div>
</div>