<div class="faq-item ">
    <div class="acc-caption">
        <div class="svg-icon flex">
            <svg xmlns="http://www.w3.org/2000/svg" width="9.899" height="5.657" viewBox="0 0 9.899 5.657">
                <g transform="translate(-971.55 -28.793)">
                    <rect width="1" height="7" rx="0.5" transform="translate(971.55 29.5) rotate(-45)" />
                    <rect class="a" width="1" height="7" rx="0.5"
                        transform="translate(980.743 28.793) rotate(45)" />
                </g>
            </svg>
        </div>
        <span class="font-13r">@@caption</span>
    </div>
    <div class="accordion-list">
        <p class="font-13b">@@item-1</p>
        <p class="font-13b">@@item-2</p>
        <p class="font-13b">@@item-3</p>
        <p class="font-13b">@@item-4</p>
        <p class="font-13b">@@item-5</p>
        <p class="font-13b">@@item-6</p>
    </div>
</div> 