<!-- Footer-->
<footer class="main">
    <div class="container">
        <div class="social flex">
            <p class="font-15r">Follow ECROfunds on:</p>
            <div class="social-links">
                <a href=""><img src="img/pics/face.svg" alt="facebook-icon"></a>
                <a href=""><img src="img/pics/twit.svg" alt="twitter-icon"></a>
                <!-- <a href=""><img src="" alt=""></a>
                <a href=""><img src="" alt=""></a> -->
                <a href=""><img src="img/pics/youtube.svg" alt="youtube-icon"></a>
            </div>
        </div>
    </div>
    <div class="container flex footer">
        <div class="lnk-group">
            <div class="lnk-group-title">
                <p class="font-15b">Экро система</p>
                <ul class="lnk-list list-default">
                    <li><a href="#" class="font-13r">EDC Blockchain</a></li>
                    <li><a href="#" class="font-13r">Ecroplace</a></li>
                    <li><a href="#" class="font-13r">Ecroacademy</a></li>
                    <li><a href="#" class="font-13r">Ecrostartup</a></li>
                    <li><a href="#" class="font-13r">Биржа Bitcobit</a></li>
                    <li><a href="#" class="font-13r">EcroP2P</a></li>
                    <li><a href="#" class="font-13r">Ecrowallet</a></li>
                    <li><a href="#" class="font-13r">Ecromerchant</a></li>
                </ul>
            </div>
        </div>
        <div class="lnk-group">
            <div class="lnk-group-title">
                <p class="font-15b">Вселенная Экро</p>
                <ul class="lnk-list list-default">
                    <li><a href="#" class="font-13r">EDC Blockchain</a></li>
                    <li><a href="#" class="font-13r">Ecroplace</a></li>
                    <li><a href="#" class="font-13r">Ecroacademy</a></li>
                    <li><a href="#" class="font-13r">Ecrostartup</a></li>
                    <li><a href="#" class="font-13r">Биржа Bitcobit</a></li>
                    <li><a href="#" class="font-13r">EcroP2P</a></li>
                    <li><a href="#" class="font-13r">Ecrowallet</a></li>
                </ul>
            </div>
        </div>
        <div class="lnk-group">
            <div class="lnk-group-title">
                <p class="font-15b">Помощь</p>
                <ul class="lnk-list list-default">
                    <li><a href="#" class="font-13r">FAQ</a></li>
                    <li><a href="#" class="font-13r">Поддержка</a></li>
                    <li><a href="#" class="font-13r">пользователей</a></li>
                    <li><a href="#" class="font-13r">Инструкции</a></li>

                </ul>
            </div>
        </div>
        <div class="copy">
            <p class="font-11r">Copyright © 2007-2019 ECROfund</p>
        </div>
    </div>
</footer>
<div class="scripts">
    <!-- Set JS assets-->
    <script src="js/vendor-bundle.min.js"></script>
    <script src="js/custom-bundle.min.js"></script>
</div>