<header>
    <div class="header-wr container">
    <div class="left-part">
        <div class="logo">
            <a href="#">
                <img src="img/pics/eps.svg" alt="logo">
            </a>
        </div>
        <div class="links-wr">
            <div class="link-item">
                <a href="#">Больше о вселенной Экро</a>
            </div>
            <div class="link-item">
                <a href="#">Помощь</a>
            </div>
            <div class="link-item">
                <a href="#">Новости</a>
            </div>
        </div>
    </div>
    <div class="right-part">
        <div class="links-wr">
            <div class="link-item">
                <a href="#">Экро система</a>
            </div>
            <div class="link-item">
                <a href="#">Поиск</a>
            </div>
            <div class="link-item">
                <a href="#">Рус</a>
            </div>
        </div>
        <div class="login-wr">
            <a href="#">Логин</a>
            <div class="pics-wr">
                <img src="img/pics/user.svg" alt="">
            </div>
        </div>
    </div>
</div>
</header>