<header>
    <div class="mobile-navigation">
        <!-- <button class="nav-close close">
            
        </button> -->
        <div class="navigation-inner">
            <div class="nav-group">
                <div class="nav-title">
                    <p class="font-18b">Продукты ECRO System</p>
                </div>
                <ul class="list-default">
                <li class="nav-item">
                    <a href="/blockchain.html" class="font-15r">EDC Blockchain</a>
                </li>
                <li class="nav-item">
                    <a href="/ecro-academy.html" class="font-15r">ECRO Academy</a>
                </li>
                <li class="nav-item">
                    <a href="/marketplace.html" class="font-15r">ECRO Marketplace</a>
                </li>
            </ul>
            </div>
            <div class="nav-group">
                
                <ul class="list-default">
                <li class="nav-item">
                    <a href="#" class="font-15r">Новости</a>
                </li>
            </ul>
            </div>
            <div class="nav-group">
                
                <ul class="list-default">
                <li class="nav-item">
                    <a href="#" class="font-15r">Помощь</a>
                </li>
            </ul>
            </div>
            <div class="nav-group">
                <div class="nav-title">
                    <p class="font-18b">События ECRO System</p class="font-18r">
                </div>
                <ul class="list-default">
                <li class="nav-item">
                    <a href="#" class="font-15r">События</a>
                </li>
                <li class="nav-item">
                    <a href="/webinars.html" class="font-15r">Вебинары</a>
                </li>
                
            </ul>
            </div>
        </div>
    </div>
    <div class="header-wr container">
        <div class="search-container">
            <div class="input-group">
               <form action="#" class="search-input font-15r">
                <input type="text" placeholder="Поиск на EcroFund" name="search">
                <button class="search-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="11.975" height="12.475" viewBox="0 0 11.975 12.475">
                        <g transform="translate(-1077 -22)">
                            <g transform="translate(1077 22)" fill="none" stroke="#221e1e" stroke-width="1">
                                <circle cx="5" cy="5" r="4.5" fill="none"></circle>
                            </g>
                            <rect width="1" height="5" transform="translate(1084.732 30.939) rotate(-45)" fill="#221e1e"></rect>
                        </g>
                    </svg>
                </button>
            </form> 
           
            </div>
           <button class="cancel-btn close search-cancel font-15r grey-lnk-style"><span>Отмена</span></button> 
        </div>
        <div class="left-part">
            <div class="logo">
                <a @@homelink>
                    <img src="img/pics/eps.svg" alt="logo">
                </a>
            </div>
            <div class="links-wr mobile-hide">
                <div class="link-item dropdown-group">
                    <button class="drop-trigger grey-lnk-style">
                        <span class="font-13r">Продукты ECRO System</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="9.899" height="5.657" viewBox="0 0 9.899 5.657">
                            <g transform="translate(-971.55 -28.793)">
                                <rect width="1" height="7" rx="0.5" transform="translate(971.55 29.5) rotate(-45)" />
                                <rect class="a" width="1" height="7" rx="0.5"
                                    transform="translate(980.743 28.793) rotate(45)" />
                            </g>
                        </svg>
                    </button>
                    <div class="hover-container">
                        <div class="drop-container">
                            <ul class="drop-list list-default">
                                <li class="drop-item">
                                    <a href="/blockchain.html" class="font-13r">EDC Blockchain</a>
                                </li>
                                <li class="drop-item">
                                    <a href="/ecro-academy.html" class="font-13r">ECRO Academy</a>
                                </li>
                                <li class="drop-item">
                                    <a href="/marketplace.html" class="font-13r">ECRO Marketplace</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="link-item">
                    <a href="/support.html" class="font-13r grey-lnk-style">Помощь</a>
                </div>
                <div class="link-item">
                    <a href="/news.html" class="font-13r grey-lnk-style">Новости</a>
                </div>
            </div>
        </div>
        <div class="right-part">
            <div class="burger-wr destop-hide">
                <button class="burger">
                    <span></span>
                </button>
            </div>
            <div class="links-wr">
                <div class="link-item dropdown-group mobile-hide">
                    <button class="drop-trigger grey-lnk-style">
                        <span class="font-13r">События ECRO System</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="9.899" height="5.657" viewBox="0 0 9.899 5.657">
                            <g transform="translate(-971.55 -28.793)">
                                <rect width="1" height="7" rx="0.5" transform="translate(971.55 29.5) rotate(-45)" />
                                <rect class="a" width="1" height="7" rx="0.5"
                                    transform="translate(980.743 28.793) rotate(45)" />
                            </g>
                        </svg>
                    </button>
                    <div class="hover-container">
                        <div class="drop-container">
                            <ul class="drop-list list-default">
                                <li class="drop-item">
                                    <a href="/events.html" class="font-13r">События</a>
                                </li>
                                <li class="drop-item">
                                    <a href="/webinars.html" class="font-13r">Вебинары</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="link-item">
                    <button class="search-trigger grey-lnk-style">
                        <span class="font-13r">Поиск</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="11.975" height="12.475"
                            viewBox="0 0 11.975 12.475">
                            <g transform="translate(-1077 -22)">
                                <g transform="translate(1077 22)" fill="none" stroke="#221e1e" stroke-width="1">

                                    <circle cx="5" cy="5" r="4.5" fill="none" />
                                </g>
                                <rect width="1" height="5" transform="translate(1084.732 30.939) rotate(-45)"
                                    fill="#221e1e" />
                            </g>
                        </svg>
                    </button>
                    
                </div>
                <div class="link-item dropdown-group mobile-hide">
                    <button class="drop-trigger grey-lnk-style lang-trigger">
                        <span class="font-13r">Рус</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="9.899" height="5.657" viewBox="0 0 9.899 5.657">
                            <g transform="translate(-971.55 -28.793)">
                                <rect width="1" height="7" rx="0.5" transform="translate(971.55 29.5) rotate(-45)" />
                                <rect class="a" width="1" height="7" rx="0.5"
                                    transform="translate(980.743 28.793) rotate(45)" />
                            </g>
                        </svg>
                    </button>
                    <div class="hover-container">
                        <div class="drop-container">
                            <ul class="drop-list list-default">
                                <li class="drop-item">
                                    <a href="#" class="font-13r">Рус</a>
                                </li>
                                <li class="drop-item">
                                    <a href="#" class="font-13r">Eng</a>
                                </li>
                                <li class="drop-item">
                                    <a href="#" class="font-13r">Esp</a>
                                </li>
                                <li class="drop-item">
                                    <a href="#" class="font-13r">Tur</a>
                                </li>
                                <li class="drop-item">
                                    <a href="#" class="font-13r">中國人</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="logo destop-hide">
                <a @@homelink>
                    <img src="img/pics/eps.svg" alt="logo">
                </a>
            </div>
            <div class="login-wr">
                <a href="/authorization.html" class="font-13r grey-lnk-style">Логин</a>
                <div class="pics-wr">
                    <img src="img/pics/user.svg" alt="">
                </div>
            </div>
            
        </div>
    </div>
</header>