<div class="container">
    <div class="events-caption flex">
        <div class="title">
            <span class="font-30b">@@head</span>

        </div>
        <div class="see-all">
            <a href="#" class="flex">
                <span class="font-13r">Смотреть все</span>
                <div class="arrow">
                    <div class="tip"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="news-list news-list-quarter flex row">
        @@include('./_news-item.html', {
            "img": "./img/pics/news_1.png",
            "col": "quarter-col",
            "height": "height",
            "caption": "Вдруг появились линии", 
            "description": "Появились линии в разные стороны и они цвета желто оранжевого. ОГО!",
            "day": "Сегодня",
            "time": "20:47",
            "see": "3854"
        })
        @@include('./_news-item.html', {
            "img": "./img/pics/news_2.png",
            "col": "quarter-col",
            "height": "height",
            "caption": "Вдруг появились линии", 
            "description": "Появились линии в разные стороны и они цвета желто оранжевого. ОГО!",
            "day": "Вчера",
            "time": "20:47",
            "see": "3854"
        })
        @@include('./_news-item.html', {
            "img": "./img/pics/news_3.png",
            "col": "quarter-col",
            "height": "height",
            "caption": "Вдруг появились линии", 
            "description": "Появились линии в разные стороны и они цвета желто оранжевого. ОГО!",
            "day": "19/09/19",
            "time": "20:47",
            "see": "3854"
        })
        @@include('./_news-item.html', {
            "img": "./img/pics/news_4.png",
            "height": "height",
            "col": "quarter-col",
            "caption": "Вдруг появились линии", 
            "description": "Появились линии в разные стороны и они цвета желто оранжевого. ОГО!",
            "day": "19/09/19",
            "time": "20:47",
            "see": "3854"
        })
    </div>
</div>