<section class="welcome flex">
    <div class="arrow-conteiner">
        
    </div>
    <div class="slider-welcome">
        <div class="slide-welcome">
<div class="left-part container">
        <div class="left-part-wrap">
            <div class="welcome-title">
                <p class="font-30b">Кошелек EDC Blockchain</p>
            </div>
            <div class="welcome-description">
                <p class="font-15r">Совершайте мгновенные транзакции, легко и безопасно получайте и отправляйте средства! Выберите подходящую версию кошелька и пользуйтесь всеми преимуществами блокчейн!</p>
            </div>
            <a href="#" class="button">
                <span class="font-13r">Скачать бесплатно</span>
                
            </a>
        </div>
    </div>
        </div>
        <div class="slide-welcome">
            <div class="left-part container">
                    <div class="left-part-wrap">
                        <div class="welcome-title">
                            <p class="font-30b">Кошелек EDC Blockchain</p>
                        </div>
                        <div class="welcome-description">
                            <p class="font-15r">Совершайте мгновенные транзакции, легко и безопасно получайте и отправляйте средства! Выберите подходящую версию кошелька и пользуйтесь всеми преимуществами блокчейн!</p>
                        </div>
                        <a href="#" class="button">
                            <span class="font-13r">Скачать бесплатно</span>
                            
                        </a>
                    </div>
                </div>
                    </div>
                    <div class="slide-welcome">
                        <div class="left-part container">
                                <div class="left-part-wrap">
                                    <div class="welcome-title">
                                        <p class="font-30b">Кошелек EDC Blockchain</p>
                                    </div>
                                    <div class="welcome-description">
                                        <p class="font-15r">Совершайте мгновенные транзакции, легко и безопасно получайте и отправляйте средства! Выберите подходящую версию кошелька и пользуйтесь всеми преимуществами блокчейн!</p>
                                    </div>
                                    <a href="#" class="button">
                                        <span class="font-13r">Скачать бесплатно</span>
                                        
                                    </a>
                                </div>
                            </div>
                                </div>
    </div>
    
</section>
 