<div class="home-video">
    <div class="caption">
        <h2 class="font-30b">Заголовок для блока с видео</h2>
    </div>
    <div class="descroption">
        <p class="font-13r gray-2">Процесс строительства включает в себя все организационные, изыскательские, проектные, строительно-монтажные и</p>
    </div>
    <div class="video">
        <div class="video-inner">
           <iframe src=""></iframe> 
        </div>
        
    </div>
    <div class="background">
        <div class="band"></div>
    </div>
</div>