<section class="quotation">
    <div class="container flex">
        <div class="quotation-item flex">
            <div class="quotation-description">
                <div class="name">
                    <p class="font-13r">BTC/EDC Blockchain</p>
                </div>
                <div class="size">
                    <p class="font-24r">0.21657601</p>
                </div>
                <div class="update">
                    <p class="font-13r">Volume: 71,320.347</p>
                </div>
            </div>
            <div class="quotation-schedule">
                <div class="balans">
                    <p class="font-15r">+4.25%</p>
                </div>
                <div class="schedule">
                </div>
            </div>
        </div>
        <div class="quotation-item flex">
            <div class="quotation-description">
                <div class="name">
                    <p class="font-13r">BTC/ECRO</p>
                </div>
                <div class="size">
                    <p class="font-24r">1.21657601</p>
                </div>
                <div class="update">
                    <p class="font-13r">Volume: 71,320.347</p>
                </div>
            </div>
            <div class="quotation-schedule red">
                <div class="balans">
                    <p class="font-15r">-4.25%</p>
                </div>
                <div class="schedule">
                </div>
            </div>
        </div>
        <div class="quotation-item flex">
            <div class="quotation-description">
                <div class="name">
                    <p class="font-13r">BTC/EDC Blockchain</p>
                </div>
                <div class="size">
                    <p class="font-24r">0.21657601</p>
                </div>
                <div class="update">
                    <p class="font-13r">Volume: 71,320.347</p>
                </div>
            </div>
            <div class="quotation-schedule">
                <div class="balans">
                    <p class="font-15r">+4.25%</p>
                </div>
                <div class="schedule">
                </div>
            </div>
        </div>
    </div>
    
</section>