<div class="home-blockquote container">
    <div class="caption">
        <h2 class="font-30b" >Стройте свое будущее с лучшими</h2>
    </div>
    <div class="description">
        <p class="font-13r gray-2">Безопасность, надежность и удобство каждого продукта ECRO System проверены миллионами людей по всему миру!</p>
    </div>
    <div class="blockquote-slider">
    <div class="blockquote-item flex">
        <div class="img-wrap"></div>
        <blockquote>
            <p class="font-30b grey ">ECRO — это система свободного обмена ценностью, товарами и ресурсами между людьми на основе самой безопасной технологии на сегодняшний день — блокчейн.</p>
            <div class="author">
                <p class="font-15b" >— Ваз Егиазар</p>
                <p class="font-15r gray-2" >CEO компании ECRO Chain Holding</p>
            </div>
        </blockquote>
    </div>
    <div class="blockquote-item flex">
        <div class="img-wrap"></div>
        <blockquote>
            <p class="font-30b grey ">ECRO — это система свободного обмена ценностью, товарами и ресурсами между людьми на основе самой безопасной технологии на сегодняшний день — блокчейн.</p>
            <div class="author">
                <p class="font-15b" >— Ваз Егиазар</p>
                <p class="font-15r gray-2" >CEO компании ECRO Chain Holding</p>
            </div>
        </blockquote>
    </div>
    <div class="blockquote-item flex">
        <blockquote>
            <p class="font-30b grey ">ECRO — это система свободного обмена ценностью, товарами и ресурсами между людьми на основе самой безопасной технологии на сегодняшний день — блокчейн.</p>
            <div class="author">
                <p class="font-15b" >— Ваз Егиазар</p>
                <p class="font-15r gray-2" >CEO компании ECRO Chain Holding</p>
            </div>
        </blockquote>
    </div>
    
</div>
</div>