<main class="home">
    @@include('./_home-welcome.html')
    @@include('./_home-quotation.html')
    @@include('./_home-products.html')
    <!-- @@include('./_home-investment.html') -->
    @@include('./_home-ecro-academy.html')
    @@include('./_home-blockquote.html')
    @@include('./_home-video.html')
    @@include('./_home-events.html')
    @@include('./_home-news.html', {
        "head" : "Новости"
    })
    <div class="bg-wrapper">
        @@include('./_home-press.html')
        @@include('./_timeline-block.html', {
            "img-lnk-start" : "",
                "head" : "ECRO System Roadmap",
                "item-head1" : "Q4 2019",
                "item-description1" : "запуск первых продуктов ECRO System",
                "item-head2" : "Q4 2019",
                "item-description2" : "официальный запуск работы компании. Старт предпродаж токенов ECRO",
                "item-head3" : "Q2 2020",
                "item-description3" : "старт публичных продаж токенов ECRO. Запуск маркетинговой программы по продвижению ECRO System",
                "item-head4" : "Q2 2020",
                "item-description4" : "запуск p2p-платформы для покупки и продажи криптовалют",
                "item-head5" : "Q3 2020",
                "item-description5" : "запуск платформы ECRO Startup. В ECRO System вы сможете запускать свои проекты и голосовать за размещаемые на платформе проекты",
                "item-head6" : "Q3 2020",
                "item-description6" : "запуск крипто-биржи Bitcobit для покупки и продажи криптовалют",
                "item-head7" : "Q1 2021",
                "item-description7" : "мобильный навигатор ECRO Navigate для поиска товаров и услуг, которые можно купить за криптовалюты, в том числе токен ECRO",
                "item-head8" : "Q2 2021",
                "item-description8" : "создание ECRO Wallet - децентрализованные кошельки для хранения криптовалют.",
                "item-head9" : "Q2 2021",
                "item-description9" : "ECRA - искусственный интеллект для автоматизации бизнес-процессов на платформе ECRO",
                "item-head10" : "Q2 2021",
                "item-description10" : "апдейт Bitcobit. Создание возможности автоматическо листинга монет на блокчейнах EDC Blockchain, Bitcoin и Ethereum",
                "item-head11" : "Q3 2021",
                "item-description11" : "запуск ECRO Merchant - решение для бизнеса, позволяющее продавцам принимать оплату в криптовалютах и токенах ECRO",
                "item-head12" : "Q3 2021",
                "item-description12" : "разработка технологии ECROChange (ED-change). Децентрализованный обмен криптовалютных активов внутри блокчейн-сети экосистемы",
                "item-head13" : "Q3 2021",
                "item-description13" : "улучшение ECRO Wallet. Интеграция технологии ECROChange (ED-change)",
                "item-head14" : "Q4 2021",
                "item-description14" : "апдейт Bitcobit. Представление технологий ECROChange и атомарных свопов",
                "item-head15" : "Q4 2021",
                "item-description15" : "апдейт маркетплейса ECRO. Переход работы ECRO на децентрализованный блокчейн",
                "item-head16" : "Q1 2022",
                "item-description16" : "апдейт обменной p2p-платформы. Реализация технологий ECROChange и атомарных свопов"
        })
    </div>
    
    @@include('./_subscribe.html')
    @@include('./_modals.html')
</main>
