<section class="welcome container flex">
    <div class="slider-welcome">
        <div class="slide-welcome">
<div class="left-part">
        <div class="left-part-wrap">
            <div class="welcome-title">
                <p class="font-30b">Кошелек EDC Blockchain</p>
            </div>
            <div class="welcome-description">
                <p class="font-15r">Совершайте мгновенные транзакции, легко и безопасно получайте и отправляйте средства! Выберите подходящую версию кошелька и пользуйтесь всеми преимуществами блокчейн!</p>
            </div>
            <button class="button">
                <span class="font-13r">Скачать бесплатно</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="7.071" height="11.314" viewBox="0 0 7.071 11.314">
                    <rect class="a" width="2" height="8" transform="translate(1.414 11.314) rotate(-135)" />
                    <rect class="a" width="2" height="8" transform="translate(0 1.414) rotate(-45)" />
                </svg>
            </button>
        </div>
    </div>
        </div>
        <div class="slide-welcome">
            <div class="left-part">
                    <div class="left-part-wrap">
                        <div class="welcome-title">
                            <p class="font-30b">Кошелек EDC Blockchain</p>
                        </div>
                        <div class="welcome-description">
                            <p class="font-15r">Совершайте мгновенные транзакции, легко и безопасно получайте и отправляйте средства! Выберите подходящую версию кошелька и пользуйтесь всеми преимуществами блокчейн!</p>
                        </div>
                        <button class="button">
                            <span class="font-13r">Скачать бесплатно</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="7.071" height="11.314" viewBox="0 0 7.071 11.314">
                                <rect class="a" width="2" height="8" transform="translate(1.414 11.314) rotate(-135)" />
                                <rect class="a" width="2" height="8" transform="translate(0 1.414) rotate(-45)" />
                            </svg>
                        </button>
                    </div>
                </div>
                    </div>
                    <div class="slide-welcome">
                        <div class="left-part">
                                <div class="left-part-wrap">
                                    <div class="welcome-title">
                                        <p class="font-30b">Кошелек EDC Blockchain</p>
                                    </div>
                                    <div class="welcome-description">
                                        <p class="font-15r">Совершайте мгновенные транзакции, легко и безопасно получайте и отправляйте средства! Выберите подходящую версию кошелька и пользуйтесь всеми преимуществами блокчейн!</p>
                                    </div>
                                    <button class="button">
                                        <span class="font-13r">Скачать бесплатно</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="7.071" height="11.314" viewBox="0 0 7.071 11.314">
                                            <rect class="a" width="2" height="8" transform="translate(1.414 11.314) rotate(-135)" />
                                            <rect class="a" width="2" height="8" transform="translate(0 1.414) rotate(-45)" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                                </div>
    </div>
    
</section>
 