<div class="container press fade-block">
    <div class="separator"></div>
    <div class="events-caption flex">
        <div class="title">
            <span class="font-30b">СМИ о нас</span>

        </div>
        
    </div>
    <div class="flex row press-list">
        <div class="press-item quarter-col">
            <a href="https://blockcast.cc/interviews/edc-blockchain-and-ecro-system-a-bridge-between-the-crypto-industry-and-real-business/" class="hidden-lnk" target="_blank"></a>
            <div class="logo">
                <img src="img/pics/press1.jpg" alt="">
            </div>
            <div class="title">
                <span class="font-18b">EDC Blockchain And ECRO System – A Bridge Between The Crypto Industry And Real Business!</span>
            </div>
            <div class="info">
                <span class="font-12r">blockcast.cc Сегодня 20:47</span>
            </div>
        </div>
        <div class="press-item quarter-col">
            <a href="http://www.fntoday.co.kr/news/articleView.html?idxno=208787" class="hidden-lnk" target="_blank"></a>
            <div class="logo">
                <img src="img/pics/press2.png" alt="">
            </div>
            <div class="title">
                <span class="font-18b">Global Blockchain Allianance</span>
            </div>
            <div class="info">
                <span class="font-12r">www.fntoday.co Сегодня 20:47</span>
            </div>
        </div>
        <div class="press-item quarter-col">
            <a href="https://thecurrencyanalytics.com/11725/edc-blockchain-february-21-2020-training-event-improving-faith-and-loyalty/" target="_blank" class="hidden-lnk"></a>
            <div class="logo">
                <img src="img/pics/press3.png" alt="">
            </div>
            <div class="title">
                <span class="font-18b">EDC Blockchain February 21, 2020 Training Event Improving Faith and Loyalty</span>
            </div>
            <div class="info">
                <span class="font-12r">thecurrencyanalytics.com Сегодня 20:47</span>
            </div>
        </div>
        <div class="press-item quarter-col">
            <a href="https://thecurrencyanalytics.com/what-is-edc-blockchain-edc/" target="_blank" class="hidden-lnk"></a>
            <div class="logo">
                <img src="img/pics/press3.png" alt="">
            </div>
            <div class="title">
                <span class="font-18b">What is EDC Blockchain (EDC)</span>
            </div>
            <div class="info">
                <span class="font-12r">thecurrencyanalytics.com Сегодня 20:47</span>
            </div>
        </div>
    </div>
    <!-- <div class="see-all">
        <a href="#" class="flex">
            <span class="font-13r">Больше</span>
            <div class="arrow">
                <div class="tip"></div>
            </div>
        </a>
    </div> -->
</div>