<main class="home">
    @@include('./_home-welcome.html')
    @@include('./_home-quotation.html')
    <!-- @@include('./_home-products.html')
    @@include('./_about-ecro.html') -->
    <!-- <section class="ecro-startup container">
        <div class="caption">
            <p class="font-30b">Ecrostartup 
                <span class="grey">/ Следующий продукт</span>
            </p>
        </div>
        <div class="startup-item">
            <div class="row event-item flex flex-row">
                <div class="half-col img-col">
                    <img src="img/pics/event-1.jpg" alt="img" />
                </div>
                <div class="half-col txt-col">
                    <div class="title">
                        <p class="font-18b">Маркетплейс ECRO</p>
                    </div>
                    <div class="description">
                        <div class="font-13r grey">
                            <p>Передовой блокчейн-маркетплейс ECRO объединяет потребителей и производителей товаров и услуг со всего мира на одной удобной онлайн-площадке с интеграцией криптовалютных платежей</p>
                            
                        </div>
                        
                    </div>
                    <div class="link-wrap">
                        <a href=@@link class="blue-lnk-style descr-lnk flex font-11r">Узнать больше
                            <svg xmlns="http://www.w3.org/2000/svg" width="7.071" height="11.314" viewBox="0 0 7.071 11.314">
                                <rect class="a" width="2" height="8" transform="translate(1.414 11.314) rotate(-135)" />
                                <rect class="a" width="2" height="8" transform="translate(0 1.414) rotate(-45)" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <blockquote>
            <p class="font-30b grey ">ECRO — это система свободного обмена ценностью, товарами и ресурсами между людьми на основе самой безопасной технологии на сегодняшний день — блокчейн.</p>
            <p class="font-15b" >— Ваз Егиазар, CEO компании ECRO Chain Holding</p>
        </blockquote>
    </section> -->
    <!-- @@include('./_home-events.html') -->
    @@include('./_home-news.html')
    @@include('./_home-press.html')
    @@include('./_subscribe.html')
</main>
