<main class="home">
    @@include('./_home-welcome.html')
    @@include('./_home-quotation.html')
    @@include('./_home-products.html')
    @@include('./_home-investment.html')
    @@include('./_home-ecro-academy.html')
    @@include('./_home-blockquote.html')
    @@include('./_home-video.html')
    @@include('./_home-events.html')
    @@include('./_home-news.html', {
        "head" : "Новости"
    })
    <div class="bg-wrapper">
        @@include('./_home-press.html')
        @@include('./_timeline-block.html', {
            "img-lnk-start" : "",
                "head" : "ECRO System Roadmap",
                "item-head1" : "Q4 2019",
                "item-description1" : "Launch ECROFund",
                "item-head2" : "Q4 2019",
                "item-description2" : "The official launch of company work; ECRO token sales start",
                "item-head3" : "Q4 2019",
                "item-description3" : "Public sales of ECRO coins. Launch of a complete marketing program. ECROFund promotion",
                "item-head4" : "Q4 2019",
                "item-description4" : "Launch EcroP2P P2P platform for buying and selling cryptocurrency",
                "item-head5" : "Q1 2020",
                "item-description5" : "Launch ECROStartup On the ECROFund platform, you can launch your projects, as well as vote for the implemented projects.",
                "item-head6" : "Q1 2020",
                "item-description6" : "ECROMarketplace <br>Advanced ECRO ecosystem product. This is an entire digital universe, where each side benefits when interacting with each other. Each community member can place their services, products or present project on this platform, so not only the ECRO community but also billions of people on the Internet will be able to see them.",
                "item-head7" : "Q1 2020",
                "item-description7" : "Launch BitcoBit ECROFund crypto exchange for buying and selling cryptocurrency",
                "item-head8" : "Q2 2020",
                "item-description8" : "ECRONavigate <br>Mobile Navigator for tracking products and services that you can purchase for cryptocurrency, in particular, for ECRO coin",
                "item-head9" : "Q2 2020",
                "item-description9" : "Create an ECROWallet (E-wallet) <br>Decentralized wallets for storing crypto assets ",
                "item-head10" : "Q2 2020",
                "item-description10" : "ECRA <br>Artificial intelligence to automate business processes based on the ECRO platform ",
                "item-head11" : "Q2 2020",
                "item-description11" : "Update BitcoBit <br>Create an automatic listing of coins based on the following blockchains: EDC Blockchain, Bitcoin and Ethereum",
                "item-head12" : "Q3 2020",
                "item-description12" : "Launch ECROMerchant (E-merchant) <br>Business solution, allowing to accept payments from clients in cryptocurrency and ECRO coins.  ",
                "item-head13" : "Q3 2020",
                "item-description13" : "Integrate ECROChange (ED-change) technology <br>Decentralized crypto asset exchanges within the ECROFund eco-system blockchain network",
                "item-head14" : "Q3 2020",
                "item-description14" : "Improve an ECROWallet (E-wallet). Integrate ECROChange (ED-change) technology",
                "item-head15" : "Q3 2020",
                "item-description15" : "Update BitcoBit Introduce ECROChange technology (ED-change) and launch of atomic swaps functionality",
                "item-head16" : "Q3 2020",
                "item-description16" : "Update ECROMarketplace <br>Switch to decentralized blockchain technology in the marketplace work",
                "item-head17" : "Q3 2020",
                "item-description17" : "Update EcroP2P <br>Introduce ECROChange technology (ED-change) and launch of atomic swaps functionality" 
        })
    </div>
    
    @@include('./_subscribe.html')
</main>
