<div class="home-events container">
    <div class="separator"></div>
    <div class="events-caption flex">
        <div class="left">
            <div class="title">
                <h2 class="font-30b">Ближайшие события</h2>
            </div>
            <div class="description">
                <p class="font-13r gray-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        
        <div class="see-all flex">
            <a href="#" class="flex">
                <span class="font-13r">Смотреть все события</span>
                <div class="arrow">
                    <div class="tip"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="flex">
        <div class="half-col event-list">
            <div class="event-item flex">
                <div class="">
                    <div class="caption">
                        <p class="font-18b">ECROsystems блокчейн конференция</p>
                    </div>
                    <div class="params flex">
                        <div class="location">
                            <svg id="Group_64" data-name="Group 64" xmlns="http://www.w3.org/2000/svg" width="8.692" height="12" viewBox="0 0 8.692 12">
                                <path id="Path_21" data-name="Path 21" d="M74.919,0a4.351,4.351,0,0,0-4.346,4.346c0,2.974,3.889,7.34,4.055,7.524a.391.391,0,0,0,.582,0c.166-.184,4.055-4.55,4.055-7.524A4.351,4.351,0,0,0,74.919,0Zm0,6.532a2.187,2.187,0,1,1,2.187-2.187A2.189,2.189,0,0,1,74.919,6.532Z" transform="translate(-70.573)" fill="#9ba6b2"/>
                            </svg>
                            <span class="font-13b">Singapur</span>
                        </div>
                        <div class="date">
                            <span class="font-13b">18 oct 2019</span>
                        </div>
                    </div>
                    <div class="description">
                        <div class="font-13r grey">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                        
                    </div>
                    <div class="link-wrap">
                        <a href="#" class="blue-lnk-style descr-lnk flex font-11b">Узнать больше
                            <svg xmlns="http://www.w3.org/2000/svg" width="7.071" height="11.314" viewBox="0 0 7.071 11.314">
                                <rect class="a" width="2" height="8" transform="translate(1.414 11.314) rotate(-135)" />
                                <rect class="a" width="2" height="8" transform="translate(0 1.414) rotate(-45)" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="img-wrap" style="background-image: url(img/pics/event-1.jpg);"></div>
    </div>
    
</div>