<div class="home-video">
    <div class="caption">
        <h2 class="font-30b">Узнайте больше об экосистеме ECRO System</h2>
    </div>
    <div class="descroption">
        <p class="font-13r gray-2">Глобальная самодостаточная экосистема ECRO System — ваш ориентир в мире цифровых технологий!</p>
    </div>
    <div class="video">
        <div class="video-inner">
           <div class="bg" style="background-image: url(img/pics/video-img.png);">
                <div class="trigger">
                    <img src="img/pics/video-tr.svg" alt="">
                </div>
            </div>
            <iframe id="video" src="https://www.youtube.com/embed/i02YyP4ujPg" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
        
    </div>
    <div class="background">
        <div class="band"></div>
        <div class="video-pic">
            <img src="img/pics/video-pic.png" alt="">
        </div>
    </div>
</div>