<div class="ecro-academy">
    <div class="container">
    <div class="separator"></div>
    <div class="caption">
        <h2 class="font-30b">
            Следующий продукт 
            <span class="grey">/ Ecro-Academy</span>
        </h2>
    </div>
    <div class="content flex">
        <div class="img-wrap"></div>
        <div class="description-wrap">
            <div class="title">
                <h2 class="font-20b">ECROacademy</h2>
            </div>
            <div class="description">
                <p class="font-13r grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="link">
                <a href="/news-final.html" class="blue-lnk-style descr-lnk flex font-13b">Узнать больше
                    <svg xmlns="http://www.w3.org/2000/svg" width="7.071" height="11.314" viewBox="0 0 7.071 11.314">
                        
                        <rect class="a" width="2" height="8" transform="translate(1.414 11.314) rotate(-135)" />
                        <rect class="a" width="2" height="8" transform="translate(0 1.414) rotate(-45)" />
                    </svg>
                </a>
            </div>
        </div>
        <div class="sieve">
            <div class="bg">
                <img src="img/pics/academy-pic.png" alt="">
            </div>
        </div>     
    </div>
</div>

</div>