<div class="home-investment">
    <div class="separator"></div>
    <div class="caption container">
        <p class="font-30b">Во что инвестирует корпорация Экро?</p>
    </div>
    <div class="description container">
        <p class="font-13r gray-2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
    </div>
    <div class="content-wrap">
        <div class="background"></div>
        <div class="content container flex">
            <div class="left-part">
                <div class="content-item">
                    <div class="margin-bottom">
                        <h2 class="font-18b">Строительство</h2>
                    </div>
                    
                    <p class="font-13r gray-2">Процесс строительства включает в себя все организационные, изыскательские, проектные, строительно-монтажные и</p>
                </div>
                <div class="content-item">
                    <div class="margin-bottom">
                        <h2 class="font-18b">Бизнес и стартапы</h2>
                    </div>
                    <p class="font-13r gray-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
                </div>
                <div class="content-item">
                    <div class="margin-bottom">
                        <h2 class="font-18b">Блокчейн и ИИ</h2>
                    </div>
                    
                    <p class="font-13r gray-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
                </div>
                
                <div class="content-item">
                    <div class="margin-bottom">
                        <h2 class="font-18b">Экология</h2>
                    </div>
                    
                    <p class="font-13r gray-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
                </div>
                
            </div>
            <div class="right-part">
                <img src="img/pics/build.png" alt="build">
            </div>
        </div>
    </div>
</div>