<div class="home-product">
    <div class="container home-product-wr">
    <div class="events-caption">
        <div class="title">
            <p class="font-30b center">Продукты ECRO System</p>
            <p class="font-13r center gray-2 title-description">ECRO System это цифровая экосистема с широким набором блокчейн-инструментов для развития вашего бизнеса.</p>
        </div>
    </div>
    <div class="product-list">
        <div class="slider-wrap">
            <div class="product-item flex">
                <div class="img-wrap" style="background-image: url(img/pics/product-img.png);">

                </div>
                <div class="content flex">
                    <div class="logo">
                        <img src="img/pics/eds-logo.svg" alt="">
                    </div>
                    <div class="caption">
                        <p class="font-24b">Блокчейн-кошелёк для вас и бизнеса!</p>   
                    </div>
                    <div class="description">
                        <p class="font-13r grey">Блокчейн-платформа для токенизации малого и среднего бизнеса и получения стабильных вознаграждений. Развивайте и масштабируйте свой бизнес, создавайте собственные цифровые активы, находите новых клиентов, проводите рекламные и маркетинговые акции и получайте блокчейн-бонусы на свой кошелек каждый день! Пусть новейшие технологии работают для вас!</p>
                    </div>
                    <div class="link">
                        <a href="/news-final.html" class="blue-lnk-style descr-lnk flex font-11r">Подробнее
                            <svg xmlns="http://www.w3.org/2000/svg" width="7.071" height="11.314" viewBox="0 0 7.071 11.314">
                                
                                <rect class="a" width="2" height="8" transform="translate(1.414 11.314) rotate(-135)" />
                                <rect class="a" width="2" height="8" transform="translate(0 1.414) rotate(-45)" />
                            </svg>
                        </a>
                    </div>
                    
                </div>       
            </div>
            <div class="product-item flex">
                <div class="img-wrap" style="background-image: url(img/pics/product-img.png);">

                </div>
                <div class="content flex">
                    <div class="logo">
                        <img src="img/pics/eds-logo.svg" alt="">
                    </div>
                    <div class="caption">
                        <p class="font-24b">Блокчейн-кошелёк для вас и бизнеса!</p>   
                    </div>
                    <div class="description">
                        <p class="font-13r grey">Блокчейн-платформа для токенизации малого и среднего бизнеса и получения стабильных вознаграждений. Развивайте и масштабируйте свой бизнес, создавайте собственные цифровые активы, находите новых клиентов, проводите рекламные и маркетинговые акции и получайте блокчейн-бонусы на свой кошелек каждый день! Пусть новейшие технологии работают для вас!</p>
                    </div>
                    <div class="link">
                        <a href="/news-final.html" class="blue-lnk-style descr-lnk flex font-11r">Подробнее
                            <svg xmlns="http://www.w3.org/2000/svg" width="7.071" height="11.314" viewBox="0 0 7.071 11.314">
                                
                                <rect class="a" width="2" height="8" transform="translate(1.414 11.314) rotate(-135)" />
                                <rect class="a" width="2" height="8" transform="translate(0 1.414) rotate(-45)" />
                            </svg>
                        </a>
                    </div>
                    
                </div>       
            </div>
            <div class="product-item flex">
                <div class="img-wrap" style="background-image: url(img/pics/product-img.png);">

                </div>
                <div class="content flex">
                    <div class="logo">
                        <img src="img/pics/eds-logo.svg" alt="">
                    </div>
                    <div class="caption">
                        <p class="font-24b">Блокчейн-кошелёк для вас и бизнеса!</p>   
                    </div>
                    <div class="description">
                        <p class="font-13r grey">Блокчейн-платформа для токенизации малого и среднего бизнеса и получения стабильных вознаграждений. Развивайте и масштабируйте свой бизнес, создавайте собственные цифровые активы, находите новых клиентов, проводите рекламные и маркетинговые акции и получайте блокчейн-бонусы на свой кошелек каждый день! Пусть новейшие технологии работают для вас!</p>
                    </div>
                    <div class="link">
                        <a href="/news-final.html" class="blue-lnk-style descr-lnk flex font-11r">Подробнее
                            <svg xmlns="http://www.w3.org/2000/svg" width="7.071" height="11.314" viewBox="0 0 7.071 11.314">
                                
                                <rect class="a" width="2" height="8" transform="translate(1.414 11.314) rotate(-135)" />
                                <rect class="a" width="2" height="8" transform="translate(0 1.414) rotate(-45)" />
                            </svg>
                        </a>
                    </div>
                    
                </div>       
            </div>
            
        </div>
        
    </div>
    <div class="products-logo flex">
        <div class="logo-item">
            <img src="img/pics/eds-logo.svg" alt="">
        </div>
        <div class="logo-item">
            <img src="img/pics/academy-logo.svg" alt="">
        </div>
        <div class="logo-item">
            <img src="img/pics/ecro-logo.svg" alt="">
        </div>
    </div>
</div>  
</div>