<div class="ecro-academy fade-block">
    <div class="container">
    <div class="separator"></div>
    <div class="caption">
        <h2 class="font-30b">
            Следующий продукт 
            <span class="grey">/ ECRO-Academy</span>
        </h2>
    </div>
    <div class="content flex">
        <div class="img-wrap" style="background-image: url(img/pics/event-1.jpg);"></div>
        <div class="description-wrap">
            <div class="title">
                <h2 class="font-20b">ECRO-Academy</h2>
            </div>
            <div class="description">
                <p class="font-13r grey">Блокчейн-платформа для токенизации малого и среднего бизнеса и получения стабильных вознаграждений. Развивайте и масштабируйте свой бизнес, создавайте собственные цифровые активы, находите новых клиентов, проводите рекламные и маркетинговые акции и получайте блокчейн-бонусы на свой кошелек каждый день! Пусть новейшие технологии работают для вас!</p>
            </div>
            <div class="link">
                <a href="/news-final.html" class="blue-lnk-style descr-lnk flex font-13b">Узнать больше
                    <svg xmlns="http://www.w3.org/2000/svg" width="7.071" height="11.314" viewBox="0 0 7.071 11.314">
                        
                        <rect class="a" width="2" height="8" transform="translate(1.414 11.314) rotate(-135)" />
                        <rect class="a" width="2" height="8" transform="translate(0 1.414) rotate(-45)" />
                    </svg>
                </a>
            </div>
        </div>
        <div class="sieve">
            <div class="bg">
                <img src="img/pics/academy-pic.png" alt="">
            </div>
        </div>     
    </div>
</div>

</div>