<div class="home-product">
    <div class="container home-product-wr">
    <div class="events-caption">
        <div class="title">
            <p class="font-30b center">Продукты Вселенной ECROSystem</p>
            <p class="font-13r center gray-2 title-description">Процесс строительства включает в себя все организационные, изыскательские, проектные, строительно-монтажные и </p>
        </div>
    </div>
    <div class="product-list">
        <div class="slider-wrap">
            <div class="product-item flex">
                <div class="img-wrap" style="background-image: url(img/pics/product-img.png);">

                </div>
                <div class="content flex">
                    <div class="logo">
                        <p class="font-18r blue-2">
                            <span class="bold">EDC</span>
                             Blockchain</p>
                    </div>
                    <div class="caption">
                        <p class="font-24b">Блокчейн-кошелёк для вас и бизнеса!</p>   
                    </div>
                    <div class="description">
                        <p class="font-13r grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="link">
                        <a href="/news-final.html" class="blue-lnk-style descr-lnk flex font-13b">Подробнее
                            <svg xmlns="http://www.w3.org/2000/svg" width="7.071" height="11.314" viewBox="0 0 7.071 11.314">
                                
                                <rect class="a" width="2" height="8" transform="translate(1.414 11.314) rotate(-135)" />
                                <rect class="a" width="2" height="8" transform="translate(0 1.414) rotate(-45)" />
                            </svg>
                        </a>
                    </div>
                    
                </div>       
            </div>
        </div>
        <div class="products-logo flex">
            <div class="logo-item">
                <img src="img/pics/eds-logo.svg" alt="">
            </div>
            <div class="logo-item">
                <img src="img/pics/academy-logo.svg" alt="">
            </div>
            <div class="logo-item">
                <img src="img/pics/ecro-logo.svg" alt="">
            </div>
        </div>
    </div>
</div>  
</div>