<div class="home-investment fade-block">
    
    <div class="caption container">
        <div class="separator"></div>
        <p class="font-30b">В какие направления инвестирует ECRO System?</p>
    </div>
    <div class="description container">
        <p class="font-13r gray-2">
            Наша команда ищет и инвестирует в проекты из самых высокотехнологичных<br> областей, чтобы вы получали максимум возможностей в экосистеме ECRO System!
        </p>
    </div>
    <div class="content-wrap">
        <div class="background"></div>
        <div class="content container flex">
            <div class="left-part">
                <div class="content-item-wr">
                    <div class="visible-bullit"></div>
                   <div class="content-item hover" data-src="img/pics/build.png">
                    <div class="bullit"></div>
                    <div class="margin-bottom">
                        <h2 class="font-18b">Строительство</h2>
                    </div>
                    
                    <p class="font-13r gray-2">Команда ECRO System сотрудничает с застройщиками жилых домов в Азии и странах Евросоюза</p>
                    <div class="link">
                        <a href="/news-final.html" class="blue-lnk-style descr-lnk flex font-11b" tabindex="0">Узнать подробнее <svg xmlns="http://www.w3.org/2000/svg" width="7.071" height="11.314" viewBox="0 0 7.071 11.314">
                                <rect class="a" width="2" height="8" transform="translate(1.414 11.314) rotate(-135)"></rect>
                                <rect class="a" width="2" height="8" transform="translate(0 1.414) rotate(-45)"></rect>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="content-item" data-src="img/pics/news_1.png">
                    <div class="bullit"></div>
                    <div class="margin-bottom">
                        <h2 class="font-18b">Бизнес и стартапы</h2>
                    </div>
                    <p class="font-13r gray-2">Команда ECRO System ищет проекты с большим потенциалом развития</p>
                    <div class="link">
                        <a href="/news-final.html" class="blue-lnk-style descr-lnk flex font-11b" tabindex="0">Узнать подробнее <svg xmlns="http://www.w3.org/2000/svg" width="7.071" height="11.314" viewBox="0 0 7.071 11.314">
                                <rect class="a" width="2" height="8" transform="translate(1.414 11.314) rotate(-135)"></rect>
                                <rect class="a" width="2" height="8" transform="translate(0 1.414) rotate(-45)"></rect>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="content-item" data-src="img/pics/news_2.png">
                    <div class="bullit"></div>
                    <div class="margin-bottom">
                        <h2 class="font-18b">Блокчейн и ИИ</h2>
                    </div>
                    
                    
                    <p class="font-13r gray-2">Команда ECRO System инвестирует в высокодоходные блокчейн и IT-проекты</p>
                    <div class="link">
                        <a href="/news-final.html" class="blue-lnk-style descr-lnk flex font-11b" tabindex="0">Узнать подробнее <svg xmlns="http://www.w3.org/2000/svg" width="7.071" height="11.314" viewBox="0 0 7.071 11.314">
                                <rect class="a" width="2" height="8" transform="translate(1.414 11.314) rotate(-135)"></rect>
                                <rect class="a" width="2" height="8" transform="translate(0 1.414) rotate(-45)"></rect>
                            </svg>
                        </a>
                    </div>
                </div>
                
                <div class="content-item" data-src="img/pics/news_3.png">
                    <div class="bullit"></div>
                    <div class="margin-bottom">
                        <h2 class="font-18b">Экология</h2>
                    </div>
                    
                    <p class="font-13r gray-2">Команда ECRO System привлекает проекты из области альтернативной энергетики для улучшения экологии</p>
                    <div class="link">
                        <a href="/news-final.html" class="blue-lnk-style descr-lnk flex font-11b" tabindex="0">Узнать подробнее <svg xmlns="http://www.w3.org/2000/svg" width="7.071" height="11.314" viewBox="0 0 7.071 11.314">
                                <rect class="a" width="2" height="8" transform="translate(1.414 11.314) rotate(-135)"></rect>
                                <rect class="a" width="2" height="8" transform="translate(0 1.414) rotate(-45)"></rect>
                            </svg>
                        </a>
                    </div>
                </div> 
                </div>
                
                
            </div>
            <div class="right-part">
                <div class="bg" style="background-image: url(img/pics/build.png);" data-current="img/pics/build.png">
                    
                </div>
            </div>
        </div>
    </div>
</div>