<div class="home-blockquote container">
    <div class="caption">
        <h2 class="font-30b" >Заголовок для блока с цитатой</h2>
    </div>
    <div class="description">
        <p class="font-13r gray-2">Процесс строительства включает в себя все организационные, изыскательские, проектные, строительно-монтажные и</p>
    </div>
    <div class="blockquote-item flex">
        <blockquote>
            <p class="font-30b grey ">Жизнь — очень короткая штука, и если тебе дорог человек, то нужно хватать его обеими руками и держать, сильно-сильно, а то завтра обернешься и никого нет…</p>
            <div class="author">
                <p class="font-15b" >Вазген Батькович</p>
                <p class="font-15r gray-2" >CEO ECROSystem</p>
            </div>
        </blockquote>
    </div>
    
</div>