<section class="marketplace-interface">
  <div class="background-ellipse-empty"></div>
  <div class="flex interface-item container">
    <div class="text-part ">
      <div class="title">
        <p class="font-18r red">Название блока о котором идет речь</p>
      </div>
      <div class="caption">
        <h2 class="font-36b">Удобство торговли, покупок <br>и интерфейса</h2>
      </div>
      <div class="description">
        <p class="font-18r gray-2">Простой, удобный и интуитивно понятный интерфейс со<br> встроенным онлайн-ассистентом ECRA на базе<br> искусственного интеллекта позволяет продавцам настроить<br> эффективный торговый процесс, а покупателям - быстро найти необходимый товар или услугу.</p>
      </div>
    </div>
    <div class="img-part">
      <img src="img/pics/interface.png" alt="">
    </div>
  </div>
  <div class="flex interface-item interface-item2 container">
    <div class="img-part">
      <img src="img/pics/interface2.png" alt="">
    </div>
    <div class="text-part ">
      <div class="title">
        <p class="font-18r red">Название блока о котором идет речь</p>
      </div>
      <div class="caption">
        <h2 class="font-36b">Удобство торговли, покупок <br>и интерфейса</h2>
      </div>
      <div class="description">
        <p class="font-18r gray-2">Для большего удобства участников ECRO будет<br> интегрирован в большинство популярных социальных<br> сетей и другие известные торговые платформы.</p>
      </div>
      <button class="button establish">
        <span class="font-14b">Установить мобильное приложение</span>
    </button>
    </div>
    
  </div>
</section>