<section class="marketplace-video fade-block">
  <div class="container">
      <div class="caption">
          <h2 class="font-36b center">Заголовок который относится к видео</h2>
      </div>
      <div class="description">
          <p class="font-18r gray-2 center">Working in channels gives everyone on your team a shared view of progress and purpose.</p>
      </div>
      <div class="video">
          <div class="video-inner">
              <iframe id="video" src="https://www.youtube.com/embed/i02YyP4ujPg" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
          
      </div>
  </div>
</section>