<section class="marcketplace-advantages">
  <div class="container-main container">
      <div class="block-name">
        <p class="font-18r center">Название блока о котором идет речь</p>
      </div>
      <div class="caption">
        <h2 class="font-36b center">Выгода для покупателя</h2>
      </div>
      <div class="description">
        <p class="font-18r center gray-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="item-wr">
          <div class="item">
              <div class="pic">
                  @@include("../../img/pics/advant1.svg")
              </div>
              <div class="title">
                  <span class="font-18b">Простота использования</span>
              </div>
              <div class="text">
                  <p class="font-15r">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
          </div>
          <div class="item select">
              <div class="pic">
                @@include("../../img/pics/advant2.svg")
              </div>
              <div class="title">
                  <span class="font-18b">Онлайн асистент Ecra</span>
              </div>
              <div class="text">
                  <p class="font-15r">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </p>
              </div>
          </div>
          <div class="item">
              <div class="pic">
                @@include("../../img/pics/advant3.svg")
              </div>
              <div class="title">
                  <span class="font-18b">Заголовок преемущества</span>
              </div>
              <div class="text">
                  <p class="font-15r">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
          </div>
          
      </div>
  </div>
</section>