<section class="instruction fade-block">
  <div class="inscription-wrap">
    <p class="inscription">Продавцам</p>
</div>
  <div class="container flex">
    <div class="left-part">
      <div class="content">
      <div class="caption">
        <h2 class="font-36b">Тут нужен заголовок желательно с наставлением К работе</h2>
      </div>
      <div class="description">
        <p class="font-16r gray-2">ECRO предоставляет участникам возможность попасть в среду мотивированных и целеустремленных лидеров проекта и напрямую общаться с людьми, развивающими проект ECRO System по всему миру, получая самую актуальную информацию о тенденциях рынка!</p>
      </div>
      <button class="button establish">
        <span class="font-14b">Зарегистрироваться</span>
      </button>
    </div>
    </div>
    
    <div class="right-part">
      <img src="img/pics/instruction.png" alt="">
    </div>
  </div>
</section>