<main class="home">
    <section class="markeplace-fs">
        <div class="markeplace-wr container flex">
        <div class="left-col">
            <div class="logo-wr">
                <img src="img/pics/marketplace-logo.png" alt="">
            </div>
            <div class="title">
                <h1>Инновационный<br>блокчейн-маркетплейс</h1>
            </div>
            <div class="description">
                <p>Покупай или продавай товаров или услуг за криптовалюты, открывающий новые возможности для всех участников </p>
            </div>
            <div class="buttons-wr">
                <div class="register">
                    <button><span>Регистрация</span></button>
                </div>
                <div class="look-video">
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" width="39.965" height="39.959" viewBox="0 0 39.965 39.959">
                            <g id="icon_3_" data-name="icon (3)" transform="translate(0 -0.002)">
                              <path id="Path_17" data-name="Path 17" d="M23.9,16.907,14.372,9.978a1.149,1.149,0,0,0-1.825.927V24.759a1.146,1.146,0,0,0,.628,1.025,1.158,1.158,0,0,0,.522.124,1.143,1.143,0,0,0,.675-.223L23.9,18.762a1.14,1.14,0,0,0,0-1.854Z" transform="translate(3.278 2.171)" fill="#221e1e"/>
                              <path id="Path_18" data-name="Path 18" d="M19.983,0A19.98,19.98,0,1,0,39.965,19.985,19.981,19.981,0,0,0,19.983,0Zm0,36.625A16.645,16.645,0,1,1,36.625,19.985,16.643,16.643,0,0,1,19.983,36.627Z" fill="#221e1e"/>
                            </g>
                          </svg>
                        <span>View video</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="right-col">
            <div class="img-outer">
                <div class="img-inner" style="background-image: url(img/pics/marketplace-fs.png);">

                </div>
            </div>
        </div>
    </div>
    </section>
    @@include('./_home-news.html', {
        "head" : "Новости ECRO"
    })
</main>