<section class="marketplace-profit fade-block">
  <div class="container">
    <div class="title">
      <p class="font-18r red">Название блока о котором идет речь</p>
    </div>
    <div class="caption">
      <h2 class="font-36b">Выгода для продавца</h2>
    </div>
    <div class="content flex">
      <div class="left-part">
        <div class="content-item flex">
          <div class="item-image">
            <img src="img/pics/iot.png" alt="">
          </div>
          <div class="item-text">
            <div class="item-caption">
              <h3 class="font-18b">ECRO помогает владельцам бизнеса расширить аудиторию и найти новых клиентов благодаря доступу к обширному сообществу проекта по всему миру.</h3>
            </div>
            <div class="item-description">
              <p class="font-16r">Использование технологии блокчейн устраняет из торговой цепочки ненужных посредников и полностью решает проблему доверия между контрагентами.</p>
            </div>
          </div>
        </div>
        <div class="content-item flex">
          <div class="item-image">
            <img src="img/pics/p2p.png" alt="">
          </div>
          <div class="item-text">
            <div class="item-caption">
              <h3 class="font-18b">Продавцы получают все базовые модули, <br>позволяющие разместить и представить свои товары<br> или услуги, принять, оформить и обслужить заказы, <br>в том числе крипто-мерчанты, которые позволяют<br> принимать платежи в криптовалюте.</h3>
            </div>
            <div class="item-description">
              <p class="font-16r">Помимо этого, маркетплейс ECRO помогает продавцам<br> выстроить индивидуальную маркетинговую стратегию для<br> продвижения товаров и услуг.</p>
            </div>
          </div>
        </div>
        <div class="content-item flex button-wr">
          <div class="item-text">
            <button class="button establish">
              <span class="font-14b">Бесплатная регистрация для продавцов</span>
          </button>
          </div>
        </div>
        
      </div>
      <div class="right-part">
          <img src="img/pics/academy-pic.png" alt="">
      </div>
    </div>
  </div>
</section>