<section class="marketplace-fs">
  <div class="container">
      <div class="content">
          <div class="caption">
              <h2 class="font-48b">Инновационный блокчейн-маркетплейс</h2>
          </div>
          <div class="description">
              <p class="font-16r">Покупай или продавай товаров или услуг за криптовалюты, открывающий новые возможности для всех участников</p>
          </div>
          <button class="button establish">
              <span class="font-14b">Бесплатно установить приложение</span>
          </button>
      </div>
  </div>
</section>