<section class="marcketplace-ofers">
  <div class="container">
      <div class="title">
          <p class="font-18r center">Название блока о котором идет речь</p>
      </div>
      <div class="caption">
          <h2 class="font-36b center">Безопасность сделок</h2>
      </div>
      <div class="description">
          <p class="font-18r gray-2 center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="skills-list flex">
          <div class="skills-item">
              <div class="img-wrap">
                  <img src="img/pics/brain.png" alt="">
              </div>
              <div class="item-caption">
                  <h3 class="font-18b">Искусственный интеллект</h3>
              </div>
              <div class="item-description">
                  <p class="font-16r gray-2">ECRO разработан на основе новейших цифровых технологий с использованием искусственного интеллекта и смарт-контрактов.</p>
              </div>
              <div class="link flex">
                <a href="/news-final.html" class="blue-lnk-style descr-lnk flex font-16r">
                    <span>Зарегистрироваться</span> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="7.071" height="11.314" viewBox="0 0 7.071 11.314">
                        
                        <rect class="a" width="2" height="8" transform="translate(1.414 11.314) rotate(-135)" />
                        <rect class="a" width="2" height="8" transform="translate(0 1.414) rotate(-45)" />
                    </svg>
                  </a>
                </div>
          </div>
          <div class="skills-item">
            <div class="img-wrap">
                <img src="img/pics/spring.png" alt="">
            </div>
              <div class="item-caption">
                  <h3 class="font-18b">Отсутствие посредников</h3>
              </div>
              <div class="item-description">
                  <p class="font-16r gray-2">Отсутствие посредников на платформе предполагает проведение сделки непосредственно между продавцом и покупателем и устраняет риски невыплат по сделкам.</p>
              </div>
              <div class="link flex">
                <a href="/news-final.html" class="blue-lnk-style descr-lnk flex font-16r">
                    <span>Зарегистрироваться</span> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="7.071" height="11.314" viewBox="0 0 7.071 11.314">
                        
                        <rect class="a" width="2" height="8" transform="translate(1.414 11.314) rotate(-135)" />
                        <rect class="a" width="2" height="8" transform="translate(0 1.414) rotate(-45)" />
                    </svg>
                  </a>
                </div>
          </div>
          <div class="skills-item">
            <div class="img-wrap">
                <img src="img/pics/wifi.png" alt="">
            </div>
              <div class="item-caption">
                  <h3 class="font-18b">Экосистема</h3>
              </div>
              <div class="item-description">
                  <p class="font-16r gray-2">ECRO — это экосистема, прозрачность работы которой обеспечивается технологией блокчейн. Попасть на площадку нелегальным товарам и мошенникам практически невозможно.</p>
              </div>
              <div class="link flex">
                <a href="/news-final.html" class="blue-lnk-style descr-lnk flex font-16r">
                    <span>Зарегистрироваться</span> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="7.071" height="11.314" viewBox="0 0 7.071 11.314">
                        
                        <rect class="a" width="2" height="8" transform="translate(1.414 11.314) rotate(-135)" />
                        <rect class="a" width="2" height="8" transform="translate(0 1.414) rotate(-45)" />
                    </svg>
                  </a>
                </div>
          </div>
      </div>
  </div>
</section>