<section class="marketplace-profit">
  <div class="container">
    <div class="title">
      <p class="font-18r red">Название блока о котором идет речь</p>
    </div>
    <div class="caption">
      <h2 class="font-36b">Выгода для продавца</h2>
    </div>
    <div class="content">
      <div class="left-part">
        <div class="content-item flex">
          <div class="item-image">
            <img src="img/pics/iot.png" alt="">
          </div>
          <div class="item-text">
            <div class="item-caption">
              <h3 class="font-18b">ECRO помогает владельцам бизнеса расширить аудиторию и найти новых клиентов благодаря доступу к обширному сообществу проекта по всему миру.</h3>
            </div>
            <div class="item-description">
              <p class="font-16r">Использование технологии блокчейн устраняет из торговой цепочки ненужных посредников и полностью решает проблему доверия между контрагентами.</p>
            </div>
          </div>
        </div>
        <div class="content-item flex">
          <div class="item-image">
            <img src="img/pics/p2p.png" alt="">
          </div>
          <div class="item-text">
            <div class="item-caption">
              <h3 class="font-18b">Продавцы получают все базовые модули, позволяющие разместить и представить свои товары или услуги, принять, оформить и обслужить заказы, в том числе крипто-мерчанты, которые позволяют принимать платежи в криптовалюте.</h3>
            </div>
            <div class="item-description">
              <p class="font-16r">Помимо этого, маркетплейс ECRO помогает продавцам выстроить индивидуальную маркетинговую стратегию для продвижения товаров и услуг.</p>
            </div>
          </div>
        </div>
        <button class="button establish">
          <span class="font-14b">Бесплатная регистрация для продавцов</span>
      </button>
      </div>
    </div>
  </div>
</section>