<div class="authorization flex registration">
    <div class="auth-container">
        <div class="logo">
            <img src="./img/pics/eps-white.svg" alt="" />
        </div>
        <div class="description">
            <p class="font-14th">Registering to this website, you accept our 
                <span>Terms of Use</span> and our 
                <span>Privacy Policy</span></p>
        </div>
        <div class="sing">
            <div class="sing-caption">
                <p class="font-30b">Sign in</p>
            </div>
            <div class="sing-description">
                <p class="font-14th">with your social network</p>
            </div>
            <div class="button-wrap flex">
                <div class="social-button google flex">
                    <img src="./img/pics/google.svg" alt="" />
                    <span class="font-12b">google</span>
                </div>
                <div class="social-button fb flex">
                    <img src="./img/pics/facebook.svg" alt="" />
                    <span class="font-12b">Facebook</span>
                </div>
                <div class="social-button twitter flex">
                    <img src="./img/pics/twitter.svg" alt="" />
                    <span class="font-12b">Twitter</span>
                </div>
            </div>
            <div class="or flex">
                <div class="separator"></div>
                <p class="font-14th or-block">or</p>
                <div class="separator"></div>
            </div>
            <form name="" action="">
                <div class="input-wrap">
                    <input type="email" name="email" class="input font-14r" placeholder="Username or Email" />
                    <button class="close"></button>
                </div>
                <div class="input-wrap">
                    <input type="password" name="password" class="input font-14r" placeholder="Password" />
                    <button class="close"></button>
                </div>
                <div class="checkbox flex">
                    <p class="font-13r">Keep me signed in</p>
                    <input type="checkbox" id="subscribe" class="input-checkbox" />
                    <label for="subscribe"></label>
                </div>
                <button class="button" type="submit">
                    <span class="font-14r">Sign up</span>
                </button>
                <div class="link-wrap flex">
                    <div class="already">
                        <a href="" class="font-13r blue">Not a member? Sign up</a> 
                    </div>
                    <div class="already">
                        <a href="" class="font-13r blue">I can’t remember my password</a> 
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>