<div class="authorization flex">
    <div class="auth-container">
        <div class="logo">
            <img src="./img/pics/eps-white.svg" alt="" />
        </div>
        <div class="description">
            <p class="font-14th">Registering to this website, you accept our 
                <span>Terms of Use</span> and our 
                <span>Privacy Policy</span></p>
        </div>
        <div class="sing">
            <div class="sing-caption">
                <p class="font-30b">Sign up</p>
            </div>
            <div class="sing-description">
                <p class="font-14th">with your social network</p>
            </div>
            <div class="button-wrap flex">
                <button class="social-button google flex">
                    <img src="./img/pics/google.svg" alt="" />
                    <span class="font-12b">google</span>
                </button>
                <button class="social-button fb flex">
                    <img src="./img/pics/facebook.svg" alt="" />
                    <span class="font-12b">Facebook</span>
                </button>
                <button class="social-button twitter flex">
                    <img src="./img/pics/twitter.svg" alt="" />
                    <span class="font-12b">Twitter</span>
                </button>
            </div>
            <div class="or flex">
                <div class="separator"></div>
                <p class="font-14th or-block">or</p>
                <div class="separator"></div>
            </div>
            <form name="#" action="#">
                <div class="input-wrap input-item">
                    <input type="text" name="name" class="input font-14r reqiered-field" placeholder="Username" />
                    <div class="error">
                        <span class="font-13r">
    
                        </span>
                    </div>
                </div>
                <div class="input-wrap input-item">
                    <input type="email" name="email" class="input font-14r reqiered-field" placeholder="Email" />
                    <div class="error">
                        <span class="font-13r">
    
                        </span>
                    </div>
                </div>
                <div class="input-wrap input-item">
                    <input type="password" name="password" class="input font-14r reqiered-field" placeholder="Password" />
                    <div class="error">
                        <span class="font-13r">
    
                        </span>
                    </div>
                </div>
                <div class="about-pass">
                    <p class="font-13r">Your password must be at least 6 characters long and must contain letters, numbers and special characters. Cannot contain whitespace.</p>
                </div>
                <div class="checkbox flex">
                    <input type="checkbox" id="subscribe" class="input-checkbox" name="newsletters"/>
                    <label for="subscribe"></label>
                    <p class="font-13r">I wish to receive newsletters, promotions and news from ECROSystem.</p>
                </div>
                <button class="button" type="submit">
                    <span class="font-14r">Sign up</span>
                </button>
                <div class="already">
                    <a href="/authorization.html" class="font-13r blue">Already registered? Sign in</a> 
                </div>
            </form>
        </div>
    </div>
</div>