<div class="subscribe">
    <div class="title container">
                <p>Subscribe to our newsletter</p>
    </div>
    <form action="#" class="container flex"> 
        
        <div class="input-group">
            <input type="text" name="email" class="font-18r" placeholder="Enter your email">
        </div>
        <div class="btn-container">
            <button class="button">
                <span class="font-18b">Subscribe</span>
            </button>
        </div>
    </form>
</div>