<div class="subscribe-container">
    <div class="overlay"></div>
    <div class="subscribe">
        <div class="title container">
            <p>Subscribe to our newsletter</p>
        </div>
        <form action="#" class="container flex">

            <div class="input-group input-item">
                <input class="reqiered-field" type="text" name="email" class="font-18r" placeholder="Enter your email">
                <!-- <div class="error">
                    <span class="font-13r">

                    </span>
                </div> -->
            </div>
            <div class="btn-container">
                <button class="button">
                    <span class="font-14b">Subscribe</span>
                </button>
            </div>
        </form>
    </div>
</div>