<div class="sopport">
    <div class="support-header">
        <div class="container">
            <div class="flex caption">
                <div>
                    <span class="font-20b">Обучение и поддержка</span>
                </div>
                <div>
                    <button class="transperent-bottom">
                        <span class="font-13b">Обратная связь</span>
                    </button>
                </div>
            </div>
            <div class="question">
                <div class="question-caption">
                    <p class="font-30b">Привет. Как мы можем помочь?</p>
                </div>
                <form action="" method="" class="form">
                    <label class="label flex">
                        <button class="send">
                            <svg xmlns="http://www.w3.org/2000/svg" width="11.975" height="12.475"
                            viewBox="0 0 11.975 12.475">
                                <g transform="translate(-1077 -22)">
                                <g transform="translate(1077 22)" fill="none" stroke="#221e1e" stroke-width="1">
                                    <circle cx="5" cy="5" r="4.5" fill="none" />
                                </g>
                                <rect width="1" height="5" transform="translate(1084.732 30.939) rotate(-45)"
                                    fill="#221e1e" />
                                </g>
                            </svg>
                        </button>
                        <input class="font-13r input" type="text" name="question" placeholder="Введите интересующиеий вас вопрос" />
                    </label>
                    
                </form>
                <div>
                    <span class="font-13b">Популярные вопросы: </span>
                    <a href="#" class="font-13th">смена пароля,</a>
                    <a href="#" class="font-13th">скак стать продавцом,</a>
                    <a href="#" class="font-13th">уведомления</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container support-body">
        <div class="flex">
            <div class="item">
                <div class="icon">
                </div>
                <div class="border">
                    <div class="title">
                        <span class="font-18b">Get Started</span>
                    </div>
                    <div class="description">
                        <p class="font-13r">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
                    </div>
                </div>
                
            </div>
            <div class="item">
                <div class="icon">
                </div>
                <div class="border">
                    <div class="title">
                        <span class="font-18b">Get Started</span>
                    </div>
                    <div class="description">
                        <p class="font-13r">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="icon">
                </div>
                <div class="border">
                    <div class="title">
                        <span class="font-18b">Get Started</span>
                    </div>
                    <div class="description">
                        <p class="font-13r">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="instruction">
            <div class="caption">
                <span class="font-20b">Инструкция по продуктам</span>
            </div>
            <div class="flex">
                <div class="instr-item">
                    <span>Logo</span>
                </div>
                <div class="instr-item">
                    <span>Logo</span>
                </div>
                <div class="instr-item">
                    <span>Logo</span>
                </div>
                <div class="instr-item">
                    <span>Logo</span>
                </div>
                <div class="instr-item">
                    <span>Logo</span>
                </div>
            </div>
        </div>
        <div class="faq">
            <div class="caption">
                <span class="font-20b">Вопросы и ответы</span>
            </div>
            <div class="faq-list">
                <div class="list-item"></div>
            </div>
        </div>
    </div>
</div>  