<div class="sopport">
    <div class="support-header">
        <div class="container">
            <div class="flex caption">
                <div class="caption-wrap">
                    <span class="font-20b">Обучение и поддержка</span>
                </div>
                <div class="button-wrap" >
                    <button class="transperent-bottom">
                        <span class="font-13b">Обратная связь</span>
                    </button>
                </div>
            </div>
            <div class="question">
                <div class="question-caption">
                    <p class="font-30b">Привет. Как мы можем помочь?</p>
                </div>
                <div class="input-group">
                    <form action="#" class="search-input font-15r">
                        <input type="text" placeholder="Введите интересующиеий вас вопрос" name="search">
                        <button class="search-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="11.975" height="12.475" viewBox="0 0 11.975 12.475">
                                <g transform="translate(-1077 -22)">
                                    <g transform="translate(1077 22)" fill="none" stroke="#221e1e" stroke-width="1">
                                        <circle cx="5" cy="5" r="4.5" fill="none"></circle>
                                    </g>
                                    <rect width="1" height="5" transform="translate(1084.732 30.939) rotate(-45)" fill="#221e1e"></rect>
                                </g>
                            </svg>
                        </button>
                    </form> 
                 </div>
                <div>
                    <span class="font-13b">Популярные вопросы: </span>
                    <a href="#" class="font-13th">смена пароля,</a>
                    <a href="#" class="font-13th">скак стать продавцом,</a>
                    <a href="#" class="font-13th">уведомления</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container support-body">
        <div class="flex">
            <div class="item">
                <div class="icon">
                    <div class="icon-wrap">
                        <img src="img/pics/rocket.svg" alt="" />
                    </div>
                </div>
                <div class="border">
                    <div class="title">
                        <span class="font-18b">Get Started</span>
                    </div>
                    <div class="description">
                        <p class="font-13r">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
                    </div>
                </div>
                
            </div>
            <div class="item">
                <div class="icon">
                    <div class="icon-wrap">
                        <img src="img/pics/cap.svg" alt="" />
                    </div>
                </div>
                <div class="border">
                    <div class="title">
                        <span class="font-18b">Tutorials</span>
                    </div>
                    <div class="description">
                        <p class="font-13r">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="icon">
                    <div class="icon-wrap">
                        <img src="img/pics/manual.svg" alt="" />
                    </div>
                </div>
                <div class="border">
                    <div class="title">
                        <span class="font-18b">User Guide</span>
                    </div>
                    <div class="description">
                        <p class="font-13r">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="instruction">
            <div class="caption">
                <span class="font-20b">Инструкция по продуктам</span>
            </div>
            <div class="flex">
                <div class="instr-item-wrap">
                    <div class="instr-item">
                        <span class="font-13b">Logo</span>
                    </div>
                </div>
                
                <div class="instr-item-wrap">
                    <div class="instr-item">
                        <span class="font-13b">Logo</span>
                    </div>
                </div>
                <div class="instr-item-wrap">
                    <div class="instr-item">
                        <span class="font-13b">Logo</span>
                    </div>
                </div>
                <div class="instr-item-wrap">
                    <div class="instr-item">
                        <span class="font-13b">Logo</span>
                    </div>
                </div>
                <div class="instr-item-wrap">
                    <div class="instr-item">
                        <span class="font-13b">Logo</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="faq">
        <div class="container">
            <div class="caption">
                <span class="font-20b">Вопросы и ответы</span>
            </div>
            <div class="faq-list">
                @@include('./_faq-item.html', {
                    "caption": "Заголовок раздела с вопросов",
                    "item-1": "Пункт с вопросом и ответом на него",
                    "item-2": "Другой вопрос и ответ",
                    "item-3": "Ответ вопрос на вопрос ответ",
                    "item-4": "Пункт с вопросом и ответом на него",
                    "item-5": "Другой вопрос и ответ",
                    "item-6": "Ответ вопрос на вопрос ответ"
                })
                @@include('./_faq-item.html', {
                    "caption": "Заголовок раздела с вопросов",
                    "item-1": "Пункт с вопросом и ответом на него",
                    "item-2": "Другой вопрос и ответ",
                    "item-3": "Ответ вопрос на вопрос ответ",
                    "item-4": "Пункт с вопросом и ответом на него",
                    "item-5": "Другой вопрос и ответ",
                    "item-6": "Ответ вопрос на вопрос ответ"
                })
                @@include('./_faq-item.html', {
                    "caption": "Заголовок раздела с вопросов",
                    "item-1": "Пункт с вопросом и ответом на него",
                    "item-2": "Другой вопрос и ответ",
                    "item-3": "Ответ вопрос на вопрос ответ",
                    "item-4": "Пункт с вопросом и ответом на него",
                    "item-5": "Другой вопрос и ответ",
                    "item-6": "Ответ вопрос на вопрос ответ"
                })
                @@include('./_faq-item.html', {
                    "caption": "Заголовок раздела с вопросов",
                    "item-1": "Пункт с вопросом и ответом на него",
                    "item-2": "Другой вопрос и ответ",
                    "item-3": "Ответ вопрос на вопрос ответ",
                    "item-4": "Пункт с вопросом и ответом на него",
                    "item-5": "Другой вопрос и ответ",
                    "item-6": "Ответ вопрос на вопрос ответ"
                })
            </div>
        </div>
    </div>
</div>  