<div class="events-final support-final">
    <div class="events-final-fs">
        <div class="bg">
            <div class="decor-txt">
				<p>Блокчейн конференция ECROsystems</p>
			</div>
            <div class="image-container-inner"></div>
        </div>
    </div>
    <div class="event-content container flex">
        <div class="left-block">
            
        
        <div class="title">
            <h1 class="font-30b">Блокчейн конференция ECROsystems</h1>
		</div>
		<div class="params flex">
			<div class="date">
				<span class="font-15r">Последнее обновление 18 oct 2019</span>
			</div>
		</div>
        <div class="content">
            <p class="font-13r">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. <br>
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum.</p>
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/i02YyP4ujPg" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <p class="font-13r">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.<br>
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum.</p>
        </div>
        <div class="bottom-txt">
            <p class="font-13r">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.<br>
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum.</p>
                
        </div>
    </div>
        <div class="right-block">
            <div class="title">
                <p class="font-18b">Похожие вопросы</p>
            </div>
            <div class="simalar-event">
                <a href="#" class="simalar-event-lnk grey-lnk-style">
                    <span class="font-18b">ClassroomX speaker spotlight:
                        <br>Tracy Hinds, Head of Platform for
                        ECROSystem</span>
                </a>
            </div>
            <div class="simalar-event">
                <a href="#" class="simalar-event-lnk grey-lnk-style">
                    <span class="font-18b">ClassroomX speaker spotlight:
                        <br>Tracy Hinds, Head of Platform for
                        ECROSystem</span>
                </a>
            </div>
            <div class="simalar-event">
                <a href="#" class="simalar-event-lnk grey-lnk-style">
                    <span class="font-18b">ClassroomX speaker spotlight:
                        <br>Tracy Hinds, Head of Platform for
                        ECROSystem</span>
                </a>
            </div>
            <div class="simalar-event">
                <a href="#" class="simalar-event-lnk grey-lnk-style">
                    <span class="font-18b">ClassroomX speaker spotlight:
                        <br>Tracy Hinds, Head of Platform for
                        ECROSystem</span>
                </a>
            </div>
            
        </div>
    </div>
</div>