<div class="timeline-block">
    <div class="timeline-bg"></div>
    <div class="timeline-inner">
        <div class="txt-wr">
          <div class="caption">
            <h2 class="font-30b">Заголовок для блока с цитатой</h2>
        </div>
        <div class="descroption">
            <p class="font-13r gray-2">Процесс строительства включает в себя все организационные,<br> изыскательские, проектные, строительно-монтажные и</p>
        </div>  
        </div>
        
        <div class="timeline-wr">
            <div class="timeline">
                <div class="timeline-item">
                    <div class="timeline-dot active">
                        <span></span>
                    </div>
                    <div class="item-title">
                        <p>@@item-head1</p>
                    </div>
                    <div class="timeline-txt">
                        <p>@@item-description1</p>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-dot active">
                        <span></span>
                    </div>
                    <div class="item-title">
                        <p>@@item-head2</p>
                    </div>
                    <div class="timeline-txt">
                        <p>@@item-description2</p>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-dot">
                        <span></span>
                    </div>
                    <div class="item-title">
                        <p>@@item-head3</p>
                    </div>
                    <div class="timeline-txt">
                        <p>@@item-description3</p>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-dot">
                        <span></span>
                    </div>
                    <div class="item-title">
                        <p>@@item-head4</p>
                    </div>
                    <div class="timeline-txt">
                        <p>@@item-description4</p>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-dot">
                        <span></span>
                    </div>
                    <div class="item-title">
                        <p>@@item-head5</p>
                    </div>
                    <div class="timeline-txt">
                        <p>@@item-description5</p>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-dot">
                        <span></span>
                    </div>
                    <div class="item-title">
                        <p>@@item-head6</p>
                    </div>
                    <div class="timeline-txt">
                        <p>@@item-description6</p>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-dot">
                        <span></span>
                    </div>
                    <div class="item-title">
                        <p>@@item-head7</p>
                    </div>
                    <div class="timeline-txt">
                        <p>@@item-description7</p>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-dot">
                        <span></span>
                    </div>
                    <div class="item-title">
                        <p>@@item-head8</p>
                    </div>
                    <div class="timeline-txt">
                        <p>@@item-description8</p>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-dot">
                        <span></span>
                    </div>
                    <div class="item-title">
                        <p>@@item-head9</p>
                    </div>
                    <div class="timeline-txt">
                        <p>@@item-description9</p>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-dot">
                        <span></span>
                    </div>
                    <div class="item-title">
                        <p>@@item-head10</p>
                    </div>
                    <div class="timeline-txt">
                        <p>@@item-description10</p>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-dot">
                        <span></span>
                    </div>
                    <div class="item-title">
                        <p>@@item-head11</p>
                    </div>
                    <div class="timeline-txt">
                        <p>@@item-description11</p>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-dot">
                        <span></span>
                    </div>
                    <div class="item-title">
                        <p>@@item-head12</p>
                    </div>
                    <div class="timeline-txt">
                        <p>@@item-description12</p>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-dot">
                        <span></span>
                    </div>
                    <div class="item-title">
                        <p>@@item-head13</p>
                    </div>
                    <div class="timeline-txt">
                        <p>@@item-description13</p>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-dot">
                        <span></span>
                    </div>
                    <div class="item-title">
                        <p>@@item-head14</p>
                    </div>
                    <div class="timeline-txt">
                        <p>@@item-description14</p>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-dot">
                        <span></span>
                    </div>
                    <div class="item-title">
                        <p>@@item-head15</p>
                    </div>
                    <div class="timeline-txt">
                        <p>@@item-description15</p>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-dot">
                        <span></span>
                    </div>
                    <div class="item-title">
                        <p>@@item-head16</p>
                    </div>
                    <div class="timeline-txt">
                        <p>@@item-description16</p>
                    </div>
                </div>
                <div class="timeline-item">
                        <div class="timeline-dot">
                            <span></span>
                        </div>
                        <div class="item-title">
                            <p>@@item-head17</p>
                        </div>
                        <div class="timeline-txt">
                            <p>@@item-description17</p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>