<div class="webinar-item">
    <a href="#" class="hidden-lnk"></a>
    <div class="sticker">
        <span class="font-13b">@@timer</span>
    </div>
    <div class="img-wr">
        <div class="img-container" style="background-image: url(@@img);">

    </div>
    </div>
    
    <div class="info-part">
        <div class="date">
            <span class="font-13b">@@date</span>
        </div>
        <div class="title">
            <span class="font-18b">@@title</span>
        </div>
        <div class="webinar-lnk">
            <span class="font-13b">Ссылка на вебинар:
            </span>
            <a class="font-13r blue-lnk-style" href="@@lnk" target="_blank">@@lnk</a>
        </div>
    </div>

</div>
