<div class="webinars container">
    <div class="toogler flex">
        <button class="grey-lnk-style active"><span class="font-15r">Все вебинары</span></button>
        <button class="grey-lnk-style"><span class="font-15r">Маркет ECRO</span></button>
        <button class="grey-lnk-style"><span class="font-15r">EDC Blockchain</span></button>
        <button class="grey-lnk-style"><span class="font-15r">Предстоящие</span></button>
    </div>
    <div class="webinars-wr flex">

    
    <div class="left-col">
        
        <div class="current-webinar">
            <div class="sticker">
                <span class="font-13b">Через: 1д 3ч 7м</span>
            </div>
            <div class="img-container" style="background-image: url(img/pics/event-1.jpg);">

            </div>
            <div class="date">
                <span class="font-13b">Wednesday 18 oct 2019. 19:00 MSK</span>
            </div>
            <div class="title">
                <span class="font-18b">ClassroomX speaker spotlight: Tracy Hinds, Head of Platform
                    for ECROSystem</span>
            </div>
            <div class="webinar-lnk">
                <span class="font-13b">Ссылка на вебинар:
                </span>
                <a class="font-13r blue-lnk-style" href="https://www.youtube.com/?gl=UA&tab=r1" target="_blank">https://www.youtube.com/?gl=UA&tab=r1</a>
            </div>
        </div>
        @@include('./_webinars-item.html', {
            "img" : "img/pics/webinar1.png",
            "timer" : "Через: 1д 3ч 7м",
            "date" : "Wednesday 18 oct 2019. 19:00 MSK",
            "title" : "ClassroomX speaker spotlight: Tracy Hinds, Head of Platform for ECROSystem Head of Platform for ECROSystem",
            "lnk" : "https://www.youtube.com/?gl=UA&tab=r1"
        })
        @@include('./_webinars-item.html', {
            "img" : "img/pics/webinar2.png",
            "timer" : "Через: 1д 3ч 7м",
            "date" : "Wednesday 18 oct 2019. 19:00 MSK",
            "title" : "ClassroomX speaker spotlight: Tracy Hinds, Head of Platform for ECROSystem",
            "lnk" : "https://www.youtube.com/?gl=UA&tab=r1"
        })
    </div>
    <div class="right-col">
        @@include('./_webinars-item.html', {
            "img" : "img/pics/webinar3.png",
            "timer" : "Через: 1д 3ч 7м",
            "date" : "Wednesday 18 oct 2019. 19:00 MSK",
            "title" : "ClassroomX speaker spotlight: Tracy Hinds, Head of Platform for ECROSystem",
            "lnk" : "https://www.youtube.com/?gl=UA&tab=r1"
        })
        @@include('./_webinars-item.html', {
            "img" : "img/pics/webinar4.png",
            "timer" : "Через: 1д 3ч 7м",
            "date" : "Wednesday 18 oct 2019. 19:00 MSK",
            "title" : "ClassroomX speaker spotlight: Tracy Hinds, Head of Platform for ECROSystem",
            "lnk" : "https://www.youtube.com/?gl=UA&tab=r1"
        })
        @@include('./_webinars-item.html', {
            "img" : "img/pics/webinar5.png",
            "timer" : "Через: 1д 3ч 7м",
            "date" : "Wednesday 18 oct 2019. 19:00 MSK",
            "title" : "ClassroomX speaker spotlight: Tracy Hinds",
            "lnk" : "https://www.youtube.com/?gl=UA&tab=r1"
        })
        @@include('./_webinars-item.html', {
            "img" : "img/pics/webinar6.png",
            "timer" : "Через: 1д 3ч 7м",
            "date" : "Wednesday 18 oct 2019. 19:00 MSK",
            "title" : "ClassroomX speaker spotlight: Tracy Hinds, Head of Platform for ECROSystem",
            "lnk" : "https://www.youtube.com/?gl=UA&tab=r1"
        })
    </div>
</div>
</div>